[2019-10-18 09:11] #363 closed

[2019-10-18 10:35] abhinaba1080 commented on #354
Strangely, it works fine while using it with protractor with serenity 1.x

keeping the code in onPrepare in conf.ts and it worked... But definitely not working with cucumber standalone...

[code]

[2019-10-18 10:45] abhinaba1080 commented on #207
Hi @jan-molak

Keeping REST related queries in the same ticket... **Need help Badly**

Stack: TS , Serenity (1.x), Axios

**Scenario flow:**

1. Post user information to API1 (Working)
2. Get the authentication token (Working)
3. Now, with the token send a POST request to another API (Working)
4. Get LastResponse and validate it (Not Working)

**Issue Observed:** LastResponse() working fine while

[2019-10-18 12:09] JustinMinnaar commented on #363
Duh! Yes, my apologies. I am working with Serenity application platform and will post there.

[2019-10-18 23:21] jan-molak commented on #354
Ha, intriguing! Please keep me posted!

[2019-10-19 18:00] abhinaba1080 commented on #327
Hi @jan-molak :

I have created one React selector plugin for protractor [protractor-react-selector](https://www.npmjs.com/package/protractor-react-selector)

It will help test developers to find out web elements by using react components directly using props and states...

Your thoughts will be valuable...

[2019-10-19 18:00] #327 closed

[2019-10-20 11:24] okey-right commented on #356
hey, @jan-molak ,

Even I am facing issues with the newer `serenity-bdd update` command behind a corporate proxy and got the below message:

With the deprecated `serenity update` there aren't any issues and the jar file is downloaded.

[2019-10-20 22:25] jan-molak commented on #356
Hey @JoeChester, @okey-right - would you be able to share the (anonymised) proxy configuration you're using? I'd be curious to understand if the issues you're seeing are caused by using a http proxy with a https repo url.

[2019-10-21 21:59] magdalenaBartkowiakJowsa commented on #362
@jan-molak Thank you for  the workaround! I really appreciate your effort.
Unfortunately, screenshot generator is still not working properly in my project.

I added all files that you have described above.

This is my configuration file:
![image](https://user-images.githubusercontent.com/50359393/67245776-1b612d00-f45d-11e9-91c7-f6eecde25069.png)

Project structure:
![image](https://user-images.gi

[2019-10-22 03:11] abhinaba1080 commented on #362
Hi,

You are not calling the Actor in your second step definition, i.e, 'When she goes to...'

so, i would suggest you to change your step definition to :

[code]

hopefully, this will enable serenity to take the screenshot...

[2019-10-22 04:37] okey-right commented on #356
hey @jan-molak , - It's a (PAC) Proxy auto-configuration. Goes like

http://pac.xxxxxxxxx.com.xx/wpad.dat
sorry, but I am not sure if this is what you were expecting.

[2019-10-22 04:44] okey-right commented on #362
@jan-molak , @abhinaba1080  Would it be possible to create an example repository showcasing screenshot capability for non-screenplay scenarios in a best practice way ? I tried to follow the instructions above, but wasn't able to capture the screenshots in the report.

Thanks

[2019-10-22 08:56] magdalenaBartkowiakJowsa commented on #362
Hi @abhinaba1080
Of course you are right, it will solve the issue, but I intentionally removed
[code]
from my code to use workaround shown above by Jan Molak to capture screenshot for non-screenplay scenario.
Greetings,
Magda

[2019-10-22 10:16] rajeshwarp commented on #360
Hi @jan-molak ,
Thanks for the suggestions and guidance,  I tried above approach however **setWorldConstructor** is not getting called and on execution getting

[code]
Error:
[code]
StepDefination:
[code]

Seems like I am missing something.

[2019-10-22 13:25] ctaepper commented on #318
@jan-molak would you shed some light on[ this topic](https://github.com/jan-molak/serenity-js/issues/132) in 2.0? When I run tests using browserstack and multicapabilities I do not see any tagging of browsernames in the tests. Is this feature still pending in 2.0?

[2019-10-23 09:11] rajeshwarp commented on #360
Got it working ! my bad ,  was missing file path in config. Thank You!

[2019-10-23 17:18] #360 closed

[2019-10-29 06:28] abhinaba1080 opened #364 "Serenity-js NPM audit fails"
Hi Jan,

I am using:

[code]

It causes some severe npm audit failure. Please provide a patch for the fix:

[code]

[2019-10-30 19:45] #364 closed

[2019-10-30 20:07] abhinaba1080 commented on #364
@jan,

will the fix available in the serenity-js 1 version? It will be a grt help.

[2019-10-30 20:27] jan-molak commented on #132
This has a dependency on #362

[2019-11-04 16:10] jan-molak commented on #132
Hi @ctaepper - so I'm thinking about the browser tags you mentioned.

Let's consider the 4 scenarios:
1. Safari 10 on OSX
2. Safari 11 on OSX
3. Safari on iOS 12
4. Safari on iOS 13

What should be the tags you'd like to see in each scenario?

My initial thoughts are:

1. `safari`, `safari-10`, `darwin`, `darwin-19.0.0`
2. `safari`, `safari-11`, `darwin`, `darwin-19.0.0`
3. `safari`, `safari-12.1`

[2019-11-04 17:25] ctaepper commented on #132
hm, so my initial thoughts were to retrieve this tags from the protractor `multiCapabilities` configuration, because this was my use case back then and still is today. This config looks something like this:
[code]
both os and browser versions can be retrieved from there.

**but** this is protractor/selenium specific. and not a general approach.

The tags that you suggest look 100% good to me. I wo

[2019-11-04 22:30] jan-molak commented on #132
Cool, could you please elaborate a bit more on

How do you think this should work? What custom tags would you like to see for the configurations you mention?

[2019-11-05 00:03] jan-molak commented on #362
OK, so this is a bit more involved than I originally anticipated, but I'm still considering adding this feature. Stay tuned.

[2019-11-05 09:18] rajeshwarp opened #365 "Question: On Silent operations like frame switching and waits : Serenity 2.0"
[code]
How to handle the Interactions that we don't want to show in reports, like in above scenario we need not to show Wait in reports, can you please  shed light on how we should implement interactions in such scenarios.

[2019-11-06 20:30] jan-molak commented on #365
Hi there!

I'd generally recommend reporting all the interactions that take place, as this makes tests much easier to debug.

Let's consider a scenario as per your example. Assuming that all goes well and the intervention page loads correctly, we don't want to report the `Wait` because (I'm assuming?) we don't want to "pollute" the report.

But what if the `Wait` times out? Should it be reported t

[2019-11-06 20:39] nbarrett commented on #365
hi @jan-molak - what do you think about the idea of having seamless iframe switching serenity-js as it the case in [serenity-core](https://github.com/serenity-bdd/serenity-core/issues/1374#issuecomment-424095308l)? I personally think that having to manually switch iframes before referring to an element is rather a chore and is better modelled by adding iframes to the required targets and letting s

[2019-11-07 23:26] jan-molak commented on #365
@nbarrett - that would be very nice indeed, old friend 😄

I was thinking of separating the logic of switching the frames from the one responsible for targetting the elements, if possible.

So something like

[code]

[2019-11-08 00:21] nbarrett commented on #365
Hmm, in my experience, the problem with switching iframes is that it can get quite complex when your page has multiple nested frames. You are only able to switch to an iframe that is a child of the currently selected iframe (or the default content if the element is not in an iframe. If you don’t get the switching sequence exactly right you’ll get [NoSuchFrameException](https://selenium.dev/seleniu

[2019-11-09 02:07] jan-molak opened #366 "Make it easier to switch between frames"
Extracted from #365 - @nbarrett, @rajeshwarp

## TL;DR
It would be great if Serenity/JS made the task of switching between frames easier.

---

@jan-molak:

I was thinking of separating the logic of switching the frames from the one responsible for targetting the elements, if possible.

So something like

[code]

I agree it's an additional line or two of code, but those could be nicely wrapped int

[2019-11-09 02:08] jan-molak commented on #365
Let's move the conversation about frames to #366.

I'll close this ticket as I believe I've answered the question, @rajeshwarp?

[2019-11-09 02:08] #365 closed

[2019-11-09 02:33] jan-molak commented on #362
I've [just added](https://github.com/jan-molak/serenity-js/commit/1d07075d2f467edd094fafdf53b149b3debd37a1) a new interaction that allows actors to take arbitrary screenshots at any point during the scenario. It doesn't address the issue raised by @magdalenaBartkowiakJowsa automatically yet, but could be used to capture screenshots using an `after` block of a non-Screenplay scenario.

For example

[2019-11-09 11:53] okey-right commented on #356
@jan-molak , Were you able to check this out ? Thanks.

[2019-11-11 09:15] habmukandu commented on #356
@jan-molak same problem here. We have a HTTP proxy without authentification for HTTP/HTTPS requests. Same error on linux and windows clients. Let me know if I can provide more details for solving the issue.

[2019-11-11 13:57] iranicus commented on #189
Having recently decided to give serenity-js (v1) a go for one of our angular 4 projects, this is currently a feature in the older selenium framework I am moving the project away from. It would be handy if it were an option for serenity-js v1 too since it was handy to have the Jira refs in the reports for the client.

[2019-11-11 14:19] iranicus commented on #18
As an avid IntelliJ user I am chuffed support for this IDE has been taken into consideration, I currently use WebStorm (2019.2.3) for angular and web related work and will be initially giving the tutorial-from-scripts-to-serenity tutorial project with a serenity-cucumber-chai combination a go. It would be handy with running specific tests being worked on in the IDE.

[2019-11-11 20:03] abhinaba1080 commented on #353
Hi,

I have written a Medium blog on this:

https://medium.com/@abhinabaghosh.1994/measure-your-websites-performance-with-google-lighthouse-and-protractor-1a6086267800

This basically with native jasmine, but can be easily integrated with Serenity as well.

Repo is here: https://github.com/abhinaba1080/protractor-lighthouse-integration

[2019-11-12 15:39] jan-molak commented on #356
@habmukandu - do you use a `pac` file as well?

It doesn't seem like `axios`, the HTTP client that `@serenity-js/serenity-bdd` module uses supported `pac` files out of the box. However, we could get around that with something like [`pac-proxy-agent`](https://www.npmjs.com/package/pac-proxy-agent)

[2019-11-12 15:47] jan-molak commented on #189
I need to look into enabling the JIRA integration properly.

In the meantime, remember that Serenity treats Cucumber scenario and feature descriptions as markdown, so you could have JIRA links there:

[code]

[2019-11-12 15:59] habmukandu commented on #356
no, I defined the proxy in environment with 'https_proxy' (http://proxy.corproot.net:8079)

However, it seems to be a general problem with Axios and Squid proxies. I left a comment on Axios issues to reproduce it: [link](https://github.com/axios/axios/issues/2072#issuecomment-552940091)

When using a modified version of Axios using 'https-proxy-agent' it works with our proxy.

[2019-11-12 16:05] jan-molak opened #367 "Lighthouse integration (performance analyser)"
Some time ago @abhinaba1080 prototyped integrating [Lighthouse](https://www.npmjs.com/package/lighthouse) with Protractor (#353).

It might be useful for Serenity/JS to support Lighthouse integration natively.

[2019-11-12 16:57] jan-molak commented on #356
@habmukandu - I see, so the solution seems to be to intelligently choose the appropriate proxy agent based on the config the developer has provided.

_Thinking out loud_

Could we have something along those lines:
- `serenity-bdd update` - use any default HTTP_PROXY or HTTPS_PROXY settings and rely on axios to sort it out itself (seems to work in most environments)
- `serenity-bdd update --proxy=h

[2019-11-13 09:37] habmukandu commented on #356
@jan-molak - sure this would solve the issue. The drawback is the need of specifying a proxy config before running npm install in some cases.

I would recommend to use the same proxy behaviour as npm uses:

1. Get proxy config from env or .npmrc file
2. If proxy is set, use axios with https-proxy-agent

[code]

This would work for users having proxy configured in env or npm. I think PAC support is

[2019-11-13 11:45] jan-molak commented on #356
That's a good point about NPM not supporting the pac files, @habmukandu.

@okey-right - how do you install the node modules in your setup?

[2019-11-15 16:06] abhinaba1080 opened #368 "Need advise using cucumber tags efficiently with Serenity"
Hi Jan,

Thanks for letting me steal some working minutes from your busy schedule. It would be great if i get some clarification/advise for the below areas:

**Scenario 1:**
Suppose, i have 3 scenarios. Now, I want to execute 3 scenarios in chrome , but just 2 with firefox, then do we have tags/annotation in browser level like: @chome/@chromeOnly?

**Scenario 2:**
Suppose, I have 3 scenarios and 3

[2019-11-15 16:09] abhinaba1080 commented on #327
Hi @jan-molak , I have invested a lot of time in this area. Finally came up with a npm module. Now, protractor can be used efficiently to find out React elements by React Component and props.

More information is here:
https://medium.com/@abhinabaghosh.1994/test-your-react-app-efficiently-with-protractor-b8406db9148f

Your feedback will make my day! :)

[2019-11-18 00:04] okey-right commented on #356
@jan-molak - The pac file comes pre-configured on the windows machine for everyone on a system level. Everything network action on the system goes through the configuration on the pac file by default.

I am able to download all other dependencies including other serenity js dependencies. But only face problems during fetching the cli when running the serenity-bdd update command.

[2019-11-18 12:51] habmukandu commented on #356
@okey-right when a PAC file is configured for a windows machine applications are not automatically forced to use the PAC settings. Applications like Chrome or Edge will always use the system proxy configuration while others like NPM completely ignore it.

When npm install works for you behind a proxy then I would imagine that you have configured a proxy in environment (https_proxy) or in your .npm

[2019-11-18 14:35] habmukandu commented on #71
@jan-molak do you plan to support alert interactons also in serenity-js 2.0?

[2019-11-18 16:50] magdalenaBartkowiakJowsa commented on #362
Thank you @jan-molak, once again, I appreciate your effort in solving this issue.
I have implemented your solution into my project and it works great. Can't wait for the next release.:)

[2019-11-18 17:32] nbarrett commented on #71
Hi @habmukandu - I'm working on a migration guide at the moment which will also include a couple of PRs to cover yet-to-migrate to 2.0 tasks - one of which will be alerts, so stay tuned!

[2019-11-25 01:08] jan-molak commented on #326
@asnov - I think that the way Serenity/JS v2 is designed should make it possible to create an adapter for Cypress. I'm not sure how much time I will have to investigate that, but am open to ideas.

[2019-11-25 01:28] jan-molak commented on #318
Hi all,

I've just published a new [`@serenity-js/console-reporter`](https://www.npmjs.com/package/@serenity-js/console-reporter) module that supersedes the experimental (and now deleted!) `ConsoleReporter` class that used to ship with `@serenity-js/core`.

Have a look at the module's readme for full [installation instructions](https://github.com/jan-molak/serenity-js/tree/2.0/packages/console-rep

[2019-11-25 01:35] abhinaba1080 commented on #318
This feature is killing.. But still it is alpha :stuck_out_tongue_closed_eyes:

Can't wait for the official release..

[2019-11-25 01:35] jan-molak commented on #318
Working on it 👨‍💻

[2019-11-25 10:10] AbhineetSharmax opened #370 "Image comparison"
Hi @jan-molak , Thank you for all the support you do, have a quick question. Can we have a module that would help us compare the two images(element/full page) with a baseline images.For UI validations. I have seen, its available as protractor-image-comparison.. is there anything we can do with it in serenity? Thank you.

Best Regards,
Abhineet Sharma

[2019-11-25 10:11] AbhineetSharmax opened #371 "Rerun of failed Scenarios"
Hi @jan-molak ,

Thank you for all the hardwork.

Is there any option with which we may re run the failed scenarios? Please suggest.

Thanks,
Abhineet Sharma

[2019-11-25 10:12] abhinaba1080 commented on #371
This will help you :https://github.com/jan-molak/serenity-js/issues/101

[2019-11-25 10:14] abhinaba1080 commented on #370
I am using this. One of the top in its trait.
https://www.npmjs.com/package/protractor-image-comparison

Let me know if you need  a sample repo.

[2019-11-25 10:30] AbhineetSharmax commented on #370
@abhinaba1080 yes thats what i have mentioned in my comment, i have seen it as one of the options. Thanks for referring it.

[2019-11-25 10:58] abhinaba1080 commented on #370
Just adding some codes in case somebody needs in future:

install the plugin:

[code]

Then, add the configuration in conf.ts:

[code]

you can create a file  conatining reusable image compactor function:

visuals.component.ts

[code]

Now, create some reusable cucumber step definitions:

[code]

I am cheeking the error level is not more than 1.5 . You can even check the equality to zero.

Then fr

[2019-11-25 14:37] abhinaba1080 commented on #368
@jan-molak any help here?

[2019-11-25 14:39] abhinaba1080 commented on #337
just to be clear, you want yo tag the scenario with existing defect id or create a new defect if something got failed?

[2019-11-25 14:41] abhinaba1080 commented on #321
This will help you #101

[2019-11-25 14:47] abhinaba1080 commented on #320
IE always gives you trouble.  One of the main reason probably IE still do not support ES6. So, here is some suggestions I want to provide,

use below capability for IE:

[code]

And you need to definitely switch off the directConnect.

Then, if you use typescript, then you may want to trans-pile the ES6 specific codes to ES5, like:

[code]

Hope this will help.

[2019-11-25 14:50] abhinaba1080 commented on #190
@cmelion you probably want to look in this [React-Protractor Plugin](https://www.npmjs.com/package/protractor-react-selector).

[2019-11-25 16:38] jan-molak commented on #371
Thanks @abhinaba1080 - closing as a duplicate of #101

[2019-11-25 16:38] #371 closed

[2019-11-26 08:29] AbhineetSharmax commented on #370
Hi @abhinaba1080 , @jan-molak .. can you please let me know exactly how this is going to work, with a simple serenity example, because i am facing issues with your example.

Whats elemHelper in your case? Also have you created any Task for it?

[2019-11-26 09:01] abhinaba1080 commented on #370
@AbhineetSharmax
I have updated the example. You dont need the elemHelper, it was a wrapper written by me. You can use the reusable functions from the example and create your own Task. I have not created any task... all i have done with, its already listed in the example. It should work without any issue.

If you still face the issue, feel free to upload the error file.

[2019-11-26 10:22] AbhineetSharmax commented on #370
@abhinaba1080 thanks again for the example.

I have created a Task and able to capture screens on calling these methods. :)

Thanks.

[2019-11-26 20:04] abhinaba1080 commented on #370
i am glad that it worked. Please close the issue if purpose is served.

[2019-11-27 09:00] AbhineetSharmax commented on #370
@abhinaba1080 @jan-molak , yet i am using the plugins with mentioned options, No baseline folder structure getting created and only save image methods are working, on comparion m getting Assertion error : expected {} to equal 0. Is it a proper response ? or it should give me a diff screenshots as an output..

[2019-11-28 05:19] abhinaba1080 commented on #370
@AbhineetSharmax , surely something went wrong for your case. Can you please share the plugin section and Task from your code?

[2019-11-28 15:36] KyleFairns commented on #318
@jan-molak I feel like the indentation is different when working with cucumber (in alpha-89, at the least), but the existing extra feedback from execution is definitely helpful.

You have the step, a single indentation, and then the serenity steps in a list, not indenting further when a new interaction is introduced (which may be intended, because it reduces noise), but it may be nice to have an o

[2019-11-28 16:14] jan-molak commented on #318
Hey @KyleFairns and thanks for your feedback!

The formatting reflects the structure of the tasks your actor performs.

The output in your example would've been produced in a scenario similar to the one below:

[code]

If you introduced domain-specific tasks, for example:

[code]

And used the following flow instead:
[code]

You'd see that the level of indentation reflects how deeply the tasks are

[2019-11-28 16:47] KyleFairns commented on #318
Apparently I was stumbling on the issue due to defining them as interactions instead of tasks - but hadn't been able to find the 2.0 syntax for tasks before now (and didn't think it would be that simple)

Thanks for the help @jan-molak, and keep up the smashing work!

[2019-12-04 16:18] gurcuesra commented on #337
![Screenshot (338)_LI](https://user-images.githubusercontent.com/42274690/70158742-97f64680-166c-11ea-86fd-835c62166ee8.jpg)

Report should be like screenshot.

[2019-12-04 20:35] ralves20 opened #376 "Is there a way to use the new serenity bdd report in serenity JS?"
Hello,

I'm using serenity JS 1.10.13 to run my tests, and when I generate the html report, the report generated is the oldest serenity report, which is this one:
![image](https://user-images.githubusercontent.com/40844089/70179224-6b6a1b00-16bc-11ea-836d-6f4f13687c14.png)

However, I would like to use the new serenity bdd html reporter, which is this one:
![image](https://user-images.githubuserco

[2019-12-05 09:04] nbarrett commented on #370
Sorry @AbhineetSharmax  for littering your issue with my commits. For some reason I mistakenly added this issue number to my commit message... fixed now! 🤦‍♂

[2019-12-08 18:05] jan-molak commented on #376
Hi @ralves20 - the new Serenity BDD reporter expects a different `JSON` structure than the old one used to. The best way to use the latest reporter is to switch from Serenity/JS 1.x to 2.0.

If that's something you'd like to do I'd be happy to guide you through the process?

Jan

[2019-12-08 22:04] jan-molak commented on #318
Hey guys, just to let you know, since Serenity/JS is eating up all the free time I have, I'm looking for alternative ways to sponsor its development going forward to make it more sustainable.

I thought I'd experiment with a [Github Sponsors profile](https://github.com/sponsors/jan-molak/) as a way to do it, so if you or your company find Serenity/JS useful, please consider buying me a coffee ever

[2019-12-18 09:36] NiyiFalade opened #378 "serenity-js " unable to require .d.ts""
Hello Folks ... I am playing arround serenity js screenplay but get this error message

[09:34:05] I/launcher - Running 1 instances of WebDriver
[09:34:05] I/direct - Using ChromeDriver directly...
Unable to require `.d.ts` file.
This is usually the result of a faulty configuration or import. Make sure there is a `.js`, `.json` or another executable extension and loader (attached before `ts-node`)

[2019-12-23 07:53] Ijee commented on #378
Your dependencies are pretty outdated in general. But from a quick search it looks like it is related to the ts-node dependency.

[2020-01-02 15:32] iranicus commented on #28
Currently sorting out a protractor-cucumber setup now for one of our angular 4 (to be updated to angular 8 this year) projects, to which I'll be using cucumber 5. The plan being for me to switch over to serenity 2 and pitch the framework likely mid 2020, taking a look at the commits recently to the serenity 2 alpha version I spotted the support for cucumber 5 referencing this ticket so looking for

[2020-01-03 06:13] rajeshwarp opened #380 "Console Reporter not found"
Hi Jan,

Greetings,

While running Tests today , I am getting following error , Is something changed wrt ConsoleReporter:
`[test:execute] [11:35:44] E/configParser - Error code: 105
[test:execute] [11:35:44] E/configParser - Error message: failed loading configuration file ./protractor.conf.js
[test:execute] [11:35:44] E/configParser - TypeError: ConsoleReporter is not a constructor`

Config file

[2020-01-06 15:48] jan-molak commented on #380
Hi @rajeshwarp - I wrote a new version of the console reporter, it's available as `@serenity-js/console-reporter` - https://www.npmjs.com/package/@serenity-js/console-reporter

[2020-01-07 05:57] rajeshwarp commented on #380
Thanks, Jan will try out this.

Regards!

[2020-01-07 05:57] #380 closed

[2020-01-07 09:39] Manishrn commented on #281
Hi @jan-molak

I am also getting the same error, I have checked all return statements etc.
Is there somethig that I have missed.
I have attached scenario_report as well as step file

[Book_Apoointment_steps.txt](https://github.com/jan-molak/serenity-js/files/4029893/Book_Apoointment_steps.txt)

[scenario-report-41680d5c18cec7626ccbdd26645668b0.txt](https://github.com/jan-molak/serenity-js/files/40

[2020-01-07 10:28] jan-molak commented on #380
Cool, thanks! Check out [this comment](https://github.com/jan-molak/serenity-js/issues/318#issuecomment-557953258) to see what the new reporter is capable of.

[2020-01-07 11:13] jan-molak commented on #281
Hey @Manishrn, it looks like the steps library uses a mixture of different step definition styles, misses the return statement in the `background information contains speciality` step, and doesn't use the actor in verification steps:

[code]

Try this implementation instead:

[code]

Hope this helps!
Jan

[2020-01-08 03:31] Manishrn commented on #281
@jan-molak :

I tried with step you have given, but no luck.

-Manish

[2020-01-09 16:30] ralves20 commented on #376
Hi @jan-molak thank you very much!
But at the moment, the project that I'm working, the customer does not want to change, so I have to keep Serenity 1.x.

But thank you very much for your quick feedback.

btw, I'm using serenity js in other projects and it is great!

[2020-01-09 18:43] heiho1 commented on #376
Hi @jan-molak ,

I am currently integrating Serenity into a BDD testing project and I would like to know the steps to upgrade from 1.x Serenity to 2.x.  Do you feel it is stable enough to use?

[2020-01-10 15:48] jan-molak commented on #376
@heiho1 - a number of teams have been using the new version successfully over the past 6 months and I think I've managed to address any major issues already. The reason why I'm still keeping Serenity/JS in "alpha" is that I'd like to release it with comprehensive documentation. It feels like documenting the framework takes more time than it took to write it, though! 😄

@nbarrett has been working o

[2020-01-14 09:44] dependabot-preview[bot] opened #400 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/jan-molak/update-logs/20392351).

[2020-01-15 09:09] #400 closed

[2020-01-15 09:35] dependabot-preview[bot] opened #401 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/jan-molak/update-logs/20528545).

[2020-01-15 11:37] jan-molak commented on #401
@dependabot-preview ignore this private module

[2020-01-15 11:37] #401 closed

[2020-01-15 17:34] ralves20 opened #402 "TypeError: Cannot read property '0' of undefined - what is wrong?"
Hi

I'm trying to generate reports in my local machine and I'm getting this error:
TypeError: Cannot read property '0' of undefined
However, when I generate the reports throught docker environment it is possible.

Does anyone know what can I do to be able to generate those reports on my local machine?

This is my package.json

`  "devDependencies": {
    "@serenity-js/core": "^1.6.0",
    "@sereni

[2020-01-15 17:37] abhinaba1080 commented on #402
Can you try degrading your JDK version to 8?

[2020-01-16 09:29] dependabot-preview[bot] opened #403 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/jan-molak/update-logs/20650433).

[2020-01-16 10:34] #403 closed

[2020-01-19 19:19] jan-molak commented on #56
Version `2.0.1-alpha.107` should address the issue. Let me know what you think!

[2020-01-22 08:47] mario737 opened #405 "npm error after first feature test"
Can not run tests with multiple (3) feature files. If only one of the three feature files is specified in protractor conf file, then the test runs successfully.

npm version 6.12.0

[2020-01-22 09:36] mario737 commented on #405
here the errors from console output:

[10:03:54] E/launcher - Error: VError: an AfterAll hook errored, process exiting: node_modules\@serenity-js\cucumber\src\listeners\cucumber-4.ts:12: Some of the async operations have failed:
[ArtifactArchiver] Saving 'photo-windows-chrome-79.0.3945.117-james-ensures-that-the-administrator-list-value-does-become-selected-e34d6449ca.png'... - TypeError: Cannot r

[2020-01-22 09:37] mario737 commented on #405
protractor conf:

const
    { ArtifactArchiver } = require('@serenity-js/core'),
    { Photographer, TakePhotosOfInteractions } = require('@serenity-js/protractor'),
    { SerenityBDDReporter } = require('@serenity-js/serenity-bdd'),
    isCI = require('is-ci');

exports.config = {
    //config for local test
    baseUrl: 'http://localhost:8080/login',
    chromeDriver: require(`chromedriver/lib/c

[2020-01-22 09:38] mario737 commented on #405
package.json:

{
  "name": "tm4j2git",
  "description": "A Vue.js project",
  "private": true,
  "scripts": {
    "dev": "cross-env NODE_ENV=development webpack-dev-server --open --inline --hot",
    "build": "cross-env NODE_ENV=production webpack --progress --hide-modules",
    "postinstall": "serenity-bdd update",
    "clean": "rimraf target",
    "test": "npm-run-all clean test:execute test:rep

[2020-01-22 09:39] mario737 commented on #405
protractor conf:

const
    { ArtifactArchiver } = require('@serenity-js/core'),
    { Photographer, TakePhotosOfInteractions } = require('@serenity-js/protractor'),
    { SerenityBDDReporter } = require('@serenity-js/serenity-bdd'),
    isCI = require('is-ci');

exports.config = {
    //config for local test
    baseUrl: 'http://localhost:8080/login',
    chromeDriver: require(`chromedriver/lib/c

[2020-01-23 01:14] jan-molak commented on #405
Hey @mario737, could you please update to the latest version (`2.0.1-alpha.109`) and let me know if it helped to resolve the issue?

The best way to do it is to remove the `package-lock.json` and `node_modules` from your project then running `npm install` again.

[2020-01-23 06:44] mario737 commented on #405
Hi Jan,
Great, with latest version 2.0.1-alpha.109 works the test run with all features files!
Many thanks!

[2020-01-23 06:44] #405 closed

[2020-01-23 16:12] AlexRex opened #411 "The methods from CallAnApi should catch instead of using callbacks"
The methods in the following class: https://github.com/jan-molak/serenity-js/blob/master/packages/rest/src/screenplay/abilities/call_an_api.ts#L74

Are using callback style for the promises, when using this style of error handling if a returned error happens it won't be properly propagated and mapped to the resolved case. In order to illustrate:

[code]

If you take a look at the code snippet you

[2020-01-23 22:43] jan-molak commented on #411
Hey @AlexRex, thanks, well spotted! The upcoming 2.0 release will change the original implementation. Would you like to review [the new version](https://github.com/jan-molak/serenity-js/blob/2.0/packages/rest/src/screenplay/abilities/CallAnApi.ts)?

[2020-01-24 11:08] jan-molak commented on #378
I agree with @Ijee's assessment - @NiyiFalade could you please try to update your dependencies and let us know if this helps to resolve the issue you're seeing?

I'll close the ticket for now, but please feel free to reopen it if the proposed approach doesn't work.

[2020-01-24 11:08] #378 closed

[2020-01-24 18:27] testifyqa commented on #350
Looking forward to #358 im doing some more testing around this currently and will report any findings if not already raised

[2020-01-24 18:41] testifyqa opened #412 ""TypeError: Cannot read property 'println' of undefined" when trying to use new ConsoleReporter()"
When I try to run npm test with new ConsoleReporter() in my serenity config block, I get the error "Error: TypeError: Cannot read property 'println' of undefined"

If I remove it, I do not.

my conf file looks like below, cheers...

[code]

[2020-01-24 18:47] testifyqa commented on #412
[code]

[2020-01-24 18:51] testifyqa commented on #412
maybe related to #358 work? not sure sorry

[2020-01-24 20:27] testifyqa commented on #412
hmm having just read https://github.com/nbarrett/serenity-js/blob/2.0-migration-guide/documentation/website/src/handbook/tutorials/serenity-2-migration-guide.md, this may not be an issue if you just specify the colour theme to use with the console reporter

[2020-01-24 20:28] #412 closed

[2020-01-25 09:25] testifyqa opened #413 ""Error: TypeError: Cannot read property 'println' of undefined" when adding 'new ConsoleReporter() in config"
When I try to run npm test with new ConsoleReporter() in my serenity config block, I get the error "Error: TypeError: Cannot read property 'println' of undefined"

If I remove it, I do not.

I am aware that if I instead call a function of ConsoleReporter like `ConsoleReporter.forDarkTerminals()` then I do not get the error.

Bit confused though as according to comments on #350 , you should be able

[2020-01-25 11:09] testifyqa opened #414 "Cucumber expressions are not recognised in step definitions"
If I have a step definition like so...
[code]
this works fine as `(.*)` is RegEx.

If I instead use a Cucumber expression in the step definition like so...
[code]

the step is not found and is shown as pending still.

Additionally, my steps only work when I replace the single quotes with '/'

[2020-01-25 11:12] testifyqa commented on #414
using cucumber v6.0.5

[2020-01-25 12:12] jan-molak commented on #413
Hi @testifyqa!

The `ConsoleReporter` has gone through several implementations since its original inception, so the different tickets are referring to two different versions.

Originally, the `ConsoleReporter` did not support colour output and did not have any dependencies. That's why it could be called as per the older ticket - `new ConsoleReporter()`.

However, now that the class supports colour

[2020-01-25 12:19] jan-molak commented on #414
Hi @testifyqa - as far as I'm aware this is by design since Cucumber expressions are only supported in `string`, but not in `RegEx`. I've been playing with them recently so you might find [this little demo](https://github.com/serenity-js/todomvc-demo/blob/65fbbebb69fdda672a2d48b7ab799d59afd644d8/features/step_definitions/todomvc.steps.ts) useful in your research.

So while the below would be inter

[2020-01-25 12:23] testifyqa commented on #414
Hi Jan, I believe I tried using a cucumber expression with single quotes (just retried it too) as below but i still got the error saying it is pending...

[code]

[2020-01-25 12:27] testifyqa commented on #414
Just slightly edited the step to match the little demo you linked me to but I still get the same result :(

[code]

[2020-01-25 17:32] jan-molak commented on #414
Interesting, I don't think it's Serenity/JS related, but maybe I could help you out.

What are the contents of your feature file? Maybe it's just some typo somewhere that prevents Cucumber from finding the step def?

[2020-01-25 17:41] testifyqa commented on #414
Thanks,

Feature file name: `find_a_restaurant.feature`

Feature file contents:
[code]

Step Defs name: `foodie.steps.ts`

Current Step Defs content:
[code]

[2020-01-25 17:43] testifyqa commented on #414
Currently the given step works fine as above when i run `npm test`

[2020-01-25 18:35] jan-molak commented on #414
OK, this makes sense. Check out [Cucumber docs](https://cucumber.io/docs/cucumber/cucumber-expressions/):

[code]

What if you try `{word}` instead?

[2020-01-25 20:10] testifyqa commented on #414
Ah I see. Thanks so much for digging in to this and explaining. I’ve only really used RegEx and not Cucumber expressions but will add the quotes in or {word) and see how that goes :) cheers

Sent from my iPhone

[2020-01-26 16:44] testifyqa opened #416 "Actors cannot be instantiated from protractor.conf.js"
Hi Jan, so I am successfully able to instantiate Actors from a config block in my setup.ts file like so...
[code]

I instead tried adding `actors: new Actors()` [with appropriate require() / import] in the serenity block in my protractor.conf.js file but it complained about not being able to find the module.

I also tried taking it out the serenity block and just putting it in the main exports.con

[2020-01-26 16:55] testifyqa commented on #414
This works as described by you and the docs, closing off :D

[2020-01-26 16:55] #414 closed

[2020-01-26 19:04] AlexRex commented on #411
Hi @jan-molak I reviewed the code of the version 2.0 and in this method: https://github.com/jan-molak/serenity-js/blob/2.0/packages/rest/src/screenplay/abilities/CallAnApi.ts#L156-L182

Looks like it will have the same issue. Unless you want to handle there all the errors and create a new promise to the clients I wouldn't use the callback style for promises, I would rather go with the `catch` appr

[2020-01-27 00:57] jan-molak commented on #416
Hi @testifyqa this problem lies with Protractor, I'm afraid 😞

Protractor doesn't support TypeScript in config files. If you have a look at the [TypeScript example](https://github.com/angular/protractor/tree/37bef24331c1012bfc2cc7d3fa259a00e69bd192/exampleTypescript) in the Protractor repo, you'll notice that the way it "supports" a TS config file is by first [transpiling it to JS](https://github.

[2020-01-27 08:08] testifyqa commented on #416
Thanks Jan, I did notice the engage() whilst browsing example repos.

Would that still work cleanly when using multiple step definition files for a test? Would I need to declare the before(engage()) block in each step def file?

Cheers.

Sent from my iPhone

[2020-01-27 10:10] jan-molak commented on #416
If you have multiple step definition files I'd move the call to engage to your setup file.

There you have two options, depending on your circumstances:
- if your `Actors` class holds any state (like configuration properties) then it's better to instantiate  it in `Before` hook:

[code]

- if your `Actors` class is stateless, then it's enough to call engage once before the test suite starts:
[code

[2020-01-27 10:17] testifyqa commented on #416
Thanks, currently I just had the configure block in my setup.ts file configure actors, but as everything else like runner and stage crew is handled in protractor.conf.js, I think my best bet is probably just change the configure block to `engage(new Actors());` in that same setup.ts file 👍

[2020-01-27 10:18] jan-molak commented on #416
Yup, agreed 👍

[2020-01-27 15:23] rakeshnambiar opened #421 "Serenity report - The report doesn't contain all the examples provided for the Scenario Outline"
The report doesn't contain all the examples provided for the Scenario Outline. It's just showing the last example data in the report. Due to this, in case the test is failed for any other data, still, the report says 100% PASS for multiple browsers (in case the tests are running on multiple browsers).

`How to reproduce it:`
Run the test for a single feature and the feature must contain a single s

[2020-01-27 16:46] jan-molak commented on #421
Hi @rakeshnambiar and thanks for the report!

Am I assuming correctly that you're using version 1.x of Serenity/JS? If that's the case then you've probably encountered #39 (there's a workaround proposed in that ticket too).

Serenity/JS v2 comes with a new implementation of the Cucumber adapter, which supports scenario outlines without any workarounds. Check out the [template repo](https://github.

[2020-01-27 16:49] rakeshnambiar commented on #421
@jan-molak yes - you are right. I am still on version 1.x. I will check #39

[2020-01-27 16:49] jan-molak commented on #411
Thanks for taking the time to look into this. Would you be willing to [propose a test](https://github.com/jan-molak/serenity-js/blob/2.0/packages/rest/spec/screenplay/abilities/CallAnApi.spec.ts) that demonstrates the issue you mention?

[2020-01-27 16:57] jan-molak commented on #421
I'll close this ticket for now; please feel free to re-open it if the workaround doesn't help or you find a similar issue in 2.x

[2020-01-27 16:57] #421 closed

[2020-01-27 17:14] vaibhavgatne opened #422 "stage cue related issue"
Step Definition: node_modules\serenity-js\src\serenity-cucumber\stage_cue.ts:6

[2020-01-27 17:42] jan-molak commented on #422
Could you please provide a bit more context?

In particular:
- what version of Serenity/JS are you using?
- the version of Node.js
- your operating system, web browser details, and anything that could be useful to reproduce the issue
- the details of the issue you're seeing and the context in which it occurs
- steps to reproduce the issue

Thanks!

[2020-01-27 19:45] rakeshnambiar commented on #421
Thanks @jan-molak it's now worked through the way you recommended on the ticket #39 . I will try the latest version and update you in case the issue still exists.

[2020-01-28 02:05] vaibhavgatne commented on #422
On Mon, Jan 27, 2020, 11:12 PM Jan Molak <notifications@github.com> wrote:

on UI then it shows loading and after that it shows this message rather
than it ,it should be fail.

[2020-01-28 12:29] testifyqa opened #424 "Test results can return a false positive even when an assertion fails"
I have a protractor test that runs and passes fine, but when I changed the assertion to make it fail, the console gave me the following

[code]

My step file...
[code]

EmailValidationMessage() const:
[code]

Please let me know if you need more details.

Although the console shows the difference between expected and actual in the assertion as well as some stack trace, I didn't expect it to say "su

[2020-01-28 12:45] SJ1591 commented on #348
While trying this solution, I am getting error:
serenityjs-cucumber-protractor-standalone@1.0.0 pretest-local /Users/sachin.joshi/np-cms-webapp/np-automation

internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module '@serenity-js/core/lib/model'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/c

[2020-01-28 21:21] jan-molak commented on #424
Is it the little curly bracket in the `Then` step?

[code]

[2020-01-28 21:30] jan-molak commented on #422
RIght, I'm guessing that you're running your tests in parallel via Protractor sharding?
Would you be able to create a minimalistic repo that shows how the issue can be reproduced?

You could use https://github.com/serenity-js/serenity-js-cucumber-protractor-template as base.

Looking forward to hearing from you!

[2020-01-28 21:33] testifyqa commented on #424
Doh! That's it, my bad, long day today ha. Thanks, have pushed change and updated blog so will close this off :)

[2020-01-28 21:33] #424 closed

[2020-01-28 21:40] testifyqa commented on #424
i think its because the pending step comes with the curly brackets then i forgot to remove them when defining the step 🤦‍♂

[2020-01-28 23:20] jan-molak commented on #421
Brilliant, thanks for letting me know, @rakeshnambiar!

[2020-01-28 23:22] jan-molak commented on #424
No worries, @testifyqa, happens to the best of us!

[2020-01-28 23:25] jan-molak commented on #348
@SJ1591 - please make sure use the same version for all the `@serenity-js/*` packages, since they're always released together. The latest alpha is currently `2.0.1-alpha.115` (you can check that by going to https://www.npmjs.com/package/@serenity-js/core and switching to the "versions" tab)

[2020-01-29 11:19] rakeshnambiar commented on #421
@jan-molak another question on the same context. Is it possible to use the new report with version 1.x ? Because I have already some test suites developed in version 1 using JavaScript without screenplay.

[2020-01-30 15:49] vaibhavgatne commented on #422
Thanks for your quick reply.i will update on you soon.

On Wed, Jan 29, 2020, 3:00 AM Jan Molak <notifications@github.com> wrote:

[2020-02-01 15:19] jan-molak commented on #254
Switched to Dependabot.

[2020-02-01 15:19] #254 closed

[2020-02-01 19:04] SJ1591 commented on #348
Thank you.. @jan-molak It is working fine now.

[2020-02-02 18:03] #156 closed

[2020-02-02 18:03] #105 closed

[2020-02-02 18:03] #168 closed

[2020-02-02 18:03] #28 closed

[2020-02-02 18:03] #220 closed

[2020-02-02 18:03] #236 closed

[2020-02-02 18:03] #45 closed

[2020-02-02 18:03] #56 closed

[2020-02-03 13:08] jan-molak commented on #318
@ctaepper,  @asnov, @owlran , @Ijee, @nbarrett, @abhinaba1080, @KyleFairns - thanks a million for helping me iron out the issues with Serenity/JS v2 🙇

I'm happy to announce that the official release is now available on NPM and the new website at https://serenity-js.org.

Please give it a try and let me know your thoughts on [Twitter](https://twitter.com/JanMolak) and our new [Gitter Chat](https:/

[2020-02-03 13:08] #318 closed

[2020-02-03 13:30] abhinaba1080 commented on #318
Yesterday i was checking that github was bombarded with commits... I knew
some big is coming... Thanks for all your hard work @jan

Version 2.0 will be a huge success.

On Mon, 3 Feb 2020 at 6:38 PM, Jan Molak <notifications@github.com> wrote:

[2020-02-04 00:09] #413 closed

[2020-02-04 10:09] jan-molak commented on #308
Hi @ntdaley! Serenity/JS v2 has been released yesterday with a completely re-implemented [Cucumber adapter](https://github.com/serenity-js/serenity-js/tree/master/packages/cucumber) that doesn't have the issue you observed in v1 as it no longer uses monkey patching.

Thanks for helping me make Serenity/JS better!

[2020-02-04 10:09] #308 closed

[2020-02-04 10:17] jan-molak commented on #293
Hi @AbhineetSharmax - Serenity/JS v2 has been released yesterday and offers a new implementation of [`ExecuteScript`](https://github.com/serenity-js/serenity-js/blob/ff4f51b54bd22159c56f9255ee0d79a7e089b535/packages/protractor/src/screenplay/interactions/execute-script/ExecuteScript.ts) that should trigger a screenshot shout the interaction fail.

[2020-02-04 10:17] #293 closed

[2020-02-04 10:21] jan-molak commented on #96
@vijay-kumar-singh, @nbarrett , @WebTestNinja , @stckcrsh - Serenity/JS v2 has been released yesterday together with [a new website](https://serenity-js.org) and [API docs](https://serenity-js.org/modules).

While the docs are by no means as comprehensive as I'm planning them to be, they're an evolving project that's continuously improving 😄

I'd love to hear your thoughts and feedback!

[2020-02-04 10:21] #96 closed

[2020-02-04 10:28] jan-molak commented on #355
Hi @AbhineetSharmax !

[Serenity/JS version 2.0](https://serenity-js.org) has been released yesterday and introduced a new mechanism for generating and storing the reports, which results in much easier to identify (yet unique) file names

![image](https://user-images.githubusercontent.com/1089173/73736510-c958c480-4738-11ea-9ea3-f2e64d5d4744.png)

This, together with what @abhinaba1080 suggested a

[2020-02-04 10:28] #355 closed

[2020-02-04 10:46] #273 closed

[2020-02-04 11:41] rakeshnambiar opened #450 "Cannot find module '@serenity-js/core/lib/config'"
Unexpected error while executing the tests inside the docker container. The same setup was working for me sometime back and suddenly started throwing this error. I normally run the command `npm install-test`. However, after this error, I tried the below commands.

`SerenityJs version - 1.x`

[code]

[code]

Folder structure before the npm commands looks like:

[code]

[2020-02-04 12:23] jan-molak commented on #450
Hi @rakeshnambiar could you please post the contents of your `package.json` and `protractor.conf.js` files, please?

[2020-02-04 13:44] rakeshnambiar commented on #450
@jan-molak I have attached the files here. But I doubt this is something related to the docker image or the GitLab runner. Because the tests can be executed directly on the Selenium grid from my IDE. In fact, it's worked with the same docker - GitLab pipeline settings.

[protractor.config.txt](https://github.com/serenity-js/serenity-js/files/4153636/protractor.config.txt)

[package.txt](https://gi

[2020-02-04 13:46] DanteWitcher commented on #450
this problem happened also with me, not in docker container
I use "serenity-js": "^1.10.13"

[2020-02-04 14:35] jan-molak commented on #450
@rakeshnambiar, @DanteWitcher - [Serenity/JS 2.0](https://serenity-js.org) was released yesterday, so your build might be pulling in `@serenity-js/core` that's no longer compatible.

I'd suggest adding an explicit dependency on `@serenity-js/core` v 1.6.0 to `package.json` for now and considering to migrate to 2.0 when you're ready.

[code]

Does this help?

[2020-02-04 14:37] DanteWitcher commented on #450
yes, thanks, it helps) by the way, congratulations on the release

[2020-02-04 15:00] rakeshnambiar commented on #450
@jan-molak perfect !!  It's worked now and closing the ticket.

[2020-02-04 15:00] #450 closed

[2020-02-04 15:10] jan-molak commented on #450
Thanks; I've published an update to `serenity-js` `1.10.14` that prevents it from trying to pull in the 2.0 `@serenity-js/core`. Hopefully, this will help other engineers avoid the issues you guys have encountered.

[2020-02-04 23:44] jan-molak commented on #339
Hi all, Serenity/JS v2 has been released yesterday, so I'd be grateful if you could give the [new template projects](https://github.com/serenity-js) a try and let me know what you think?

[2020-02-04 23:48] jan-molak commented on #328
Hi @puneethsaladi, I haven't heard back from you in a while, so am closing the ticket.
Please feel free to open a new one should you wish to discuss your idea further.

[2020-02-04 23:48] #328 closed

[2020-02-04 23:50] jan-molak commented on #330
Thanks for your kind words, @lobmails! I haven't worked with TestCafe but would be willing to look into enabling support if there's a large interest in the community? If someone would like to work on a proof of concept I'd be happy to guide you through Serenity/JS's internals

[2020-02-04 23:52] jan-molak commented on #331
Apologies for not getting back to you sooner, @maddymathavan. Would you mind giving Serenity/JS 2.0 a try and checking if the issue you observed is still present, and if it is - raising a ticket? Serenity/JS ships with a completely re-written Cucumber and Protractor adapter.

[2020-02-04 23:52] #331 closed

[2020-02-04 23:53] jan-molak commented on #325
Closing as a duplicate of #346; Could we continue our conversation under that ticket, @boya678?

[2020-02-04 23:53] #325 closed

[2020-02-04 23:55] jan-molak commented on #321
Closing as duplicate of #101

[2020-02-04 23:55] #321 closed

[2020-02-04 23:57] jan-molak commented on #326
I've had quite a few people ask about Cypress recently, so if anyone would like to work with me on a PR to support it I'd be happy to help out.

[2020-02-04 23:59] jan-molak commented on #338
Hi @rakeshnambiar, it feels like @abhinaba1080's suggestion has helped you to resolve the issue, so I'll close the ticket. Please feel free to open a new one should you require further assistance.

[2020-02-04 23:59] #338 closed

[2020-02-05 00:02] jan-molak commented on #320
Hi @AbhineetSharmax, @abhinaba1080's suggestions should help you to resolve the issue so I'll close this ticket. Please feel free to open a new one should you require further assistance.

[2020-02-05 00:02] #320 closed

[2020-02-05 00:05] jan-molak commented on #361
Now that Serenity/JS 2.0 is out, let's look at any mobile emulation related issues under #323

[2020-02-05 00:05] #361 closed

[2020-02-05 00:06] jan-molak commented on #315
Hi @praveen0314, I'll close this ticket since I haven't heard from you in a while. Please feel free to open a new ticket should you come across any issues with Serenity/JS in the future.

[2020-02-05 00:06] #315 closed

[2020-02-05 00:09] jan-molak commented on #314
Hey @asnov and @edupeeth! Apologies for not getting back to you sooner, I was snowed under with Serenity/JS 2.0... which is now available (yay!).

Please check out the new [project template](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) that gives you support for Protractor and any version of Cucumber.js (0.x - 6.x)

I'd love to hear your thoughts!

[2020-02-05 00:09] #314 closed

[2020-02-05 00:12] jan-molak commented on #312
Hi there, I think this functionality would require a bit more in-depth conversation.

I suppose we could have some sort of a soft-assert mechanism, but am not really sure:
- in what scenarios it would apply?
- how should the failure be reported? Should the step be marked as failing but the scenario as passing? should the step be marked as passing even when the assertion has failed? 🤔
- what about

[2020-02-05 00:14] jan-molak commented on #306
Thanks for spotting the issues, @scaddenp! I've recently published a new website for Serenity/JS 2.0, so I guess we could close this ticket. Please feel free to open another ticket should you spot any issues with 2.0.

[2020-02-05 00:14] #306 closed

[2020-02-05 00:15] jan-molak commented on #218
Hi all, I wonder, is the use case for Karma different to the one for Cypress #326?

[2020-02-05 00:19] jan-molak commented on #217
Hi @sergiomcunha, @scaddenp and @rajeshwarp - it turned out that Serenity/JS 2.0 required far more work than I originally anticipated... but it's live now with a new website and new API docs available at [serenity-js.org](https://serenity-js.org). I'd love to hear what you think!

With the release out of the way, I'm planning to focus on a Serenity/JS online course. Is this something you'd be inte

[2020-02-05 00:22] jan-molak commented on #113
Hi @igniteram, I haven't heard from you in a while, so I'll close this ticket. If you'd still like to include Serenity/JS in cliptor, please feel free to open a new one.

[2020-02-05 00:22] #113 closed

[2020-02-05 00:25] jan-molak commented on #153
Hey @nbarrett - based on our conversations since this ticket was opened I believe that you managed to get this setup working? Would you care to write a blog post about it so I could link it in [the community section](https://serenity-js.org/community/events-and-articles.html#articles) of the new website?

[2020-02-05 00:26] jan-molak commented on #53
Hey @nbarrett - I've completely re-written the error handling in Serenity/JS 2.0. Would you mind checking if your requirement is satisfied with the new release?

[2020-02-05 00:27] #41 closed

[2020-02-05 00:28] jan-molak commented on #60
Hey @nbarrett, do we still need this functionality?

[2020-02-05 00:32] jan-molak commented on #89
Hey @nbarrett - I've [added a section](https://serenity-js.org/contributing.html#proposing-enhancements) to the new Serenity/JS handbook that _starts to_ explain how to run the build locally. You know your help is always greatly appreciated, so please free to expand my initial note!

[2020-02-05 00:32] #89 closed

[2020-02-05 00:34] jan-molak commented on #77
Hi @dileepkeeppalli, it seems like @marktigno's suggestion should help to resolve the issue so I'll close this ticket. Please feel free to open a new one should you require further assistance.

[2020-02-05 00:34] #77 closed

[2020-02-05 00:35] jan-molak commented on #100
Hey @voidgit and @san-ouadghiri - Serenity/JS 2.0 has now been released and offers completely re-written adapters for both Jasmine and Cucumber, which can run either with or without Protractor. If anyone would like to work on an adapter for Jest I'd be happy to guide them through the process?

[2020-02-05 00:38] nbarrett commented on #53
Sure thing @jan-molak - thanks again!

[2020-02-05 00:42] nbarrett commented on #153
Yes, I'm sure I could do something along those lines 👍

[2020-02-05 09:42] rakeshnambiar commented on #338
@jan-molak - the parallel execution is working at the features level and not at the scenario level. Wehereas in Serenity-BDD Java setup this can be easily achievable. I hope at some point the protractor may accomodate this feature too.

[2020-02-05 11:09] jan-molak commented on #338
@rakeshnambiar - it would be lovely if they did. Please feel free to raise a ticket with Protractor and link it from here so people could upvote it.

[2020-02-05 13:25] nbarrett commented on #60
hi there! Personally, I still have quite a few cases where I'm manually having to retry on `StaleElementReferenceError`, so I'd say yes. I'll see if I can create a reproducible test case for you.....

[2020-02-05 15:36] jan-molak commented on #60
@nbarrett - thinking out loud, I wonder if we should have some `try/catch`/retry-like construct in the language that's also compatible with `@serenity-js/assertions`...

[code]

Thoughts?

[2020-02-05 15:47] rajeshwarp commented on #217
Hi @jan-molak

Congratulations ! Yes I would like to take up the online course.

Thanks!

[2020-02-06 13:44] robin-weller opened #455 "Is there a way to set context tags for multi-browser testing?"
Hi Jan,

With the Java Serenity version, you can provide a context for each browser so that the report shows which browser the test has run on. I have found an old example on John Smart's [blog](https://johnfergusonsmart.com/running-tests-different-environments-browsers-serenity-bdd/) and it still works with the latest version.

Is this something that can easily be done with Serenity/JS?

I am abl

[2020-02-06 13:54] abhinaba1080 commented on #455
@robin-weller
Actually serenity JS report does show the browser information the nicest way possible. I was working on serenity 1.x version and able to get below information in the report:

![image](https://user-images.githubusercontent.com/23141842/73942947-f0202200-4915-11ea-9d0b-282c130ba22d.png)

Not only that, for multi-browser tests, all the browsers will be listed down here.

Most important

[2020-02-06 14:02] robin-weller commented on #455
That is what I see using the Java version. I am using v2 though.

protractor.conf.js:
[code]

Report:
![Screenshot 2020-02-06 at 13 57 46](https://user-images.githubusercontent.com/23662388/73943540-d6b4b100-48e8-11ea-8217-365219e3650f.png)

A Java version:
![Screenshot 2020-02-06 at 14 01 20](https://user-images.githubusercontent.com/23662388/73943755-3a3ede80-48e9-11ea-8c15-41fbaea747cc.png)

[2020-02-06 14:05] abhinaba1080 commented on #455
@jan-molak Is it related to old serenity CLI jar?

[2020-02-07 01:01] #132 closed

[2020-02-07 01:20] jan-molak commented on #132
Hey @ctaepper - apologies you had to wait for a while for this to arrive.

Check out Serenity/JS 2.1.0 and let me know what you think!

![image](https://user-images.githubusercontent.com/1089173/73992044-d39bde00-4945-11ea-8412-6e108bd67ab8.png)

---
_You can now [sponsor my work on Serenity/JS](https://github.com/sponsors/jan-molak) on Github_ :octocat:

[2020-02-07 01:21] jan-molak commented on #455
Hi @robin-weller, it's great to hear from you again!

@abhinaba1080 - your instincts are right, it is partially related to the old Serenity CLI jar. The upcoming 2.1.10 release of the jar will come with serenity-bdd/serenity-core#1860, which enables both browser and OS icons to be rendered for every test scenario.

I was waiting for that jar to be published to add both the browser/os tagging as we

[2020-02-07 08:51] robin-weller commented on #455
Thanks @jan-molak - good to hear from you too!

I am seeing the OS and browser tags in the report, however, there is an issue generating the report from firefox runs. so it is only showing chrome.

I see the following error when it is generating reports from firefox runs:
`[main] WARN  n.t.c.r.json.JSONTestOutcomeReporter - This file was not a valid JSON Serenity test report: scenario-user-can-log

[2020-02-07 13:34] jan-molak commented on #455
Cool, so we're making progress :-) Would you mind posting the offending `json` file?

[2020-02-07 14:57] robin-weller commented on #455
Of course:

[code]

[2020-02-07 15:17] robin-weller commented on #455
The difference I am seeing between the Chome and Firefox JSON files is there is no recorded `browserVersion` for Firefox (which is probably fine?!) and there is no `name` defined with `"type": "platform"`?

[2020-02-07 17:52] jan-molak commented on #455
Thanks, and what version of Firefox are you running?

Could you please also add the following section to your `protractor.conf.js` and let me know what it prints?

[code]

[2020-02-07 21:29] ctaepper opened #456 "BrowserDetector not bulletproof"
Congrats on v2. I am digging into it right now and am very excited about it!

2.1.0 supposedly closed my issue #132 but unfortunately it doesn't seem to be that easy. I was playing around with it and detected a problem with the [BrowserDetector starting here](https://github.com/serenity-js/serenity-js/blob/master/packages/protractor/src/adapter/browser-detector/BrowserDetector.ts#L35). The platfor

[2020-02-08 01:31] jan-molak commented on #455
Hey @robin-weller, can you check out the latest build, please? It should be able to correctly detect details of all the major browsers and platforms.

Scenario view:
![image](https://user-images.githubusercontent.com/1089173/74074964-643af280-4a08-11ea-9e79-a028d70e30f5.png)

Summary view:
![image](https://user-images.githubusercontent.com/1089173/74075147-00fd9000-4a09-11ea-834a-79baf31e41cb.png)

[2020-02-08 11:10] ctaepper commented on #455
seems like I created an issue about the same root cause in #456 I will test the latest version and see if the problem goes away

[2020-02-08 11:23] ctaepper commented on #456
closed with https://github.com/serenity-js/serenity-js/commit/99659187b99bb2d97f8cc51910a4f12f2685875c

[2020-02-08 11:23] #456 closed

[2020-02-08 16:43] jan-molak commented on #455
Thanks @ctaepper - yeah, my original solution was a tad bit optimistic. I then ran a test against 14 different browser/platform combinations and recorded my findings in [this unit test](https://github.com/serenity-js/serenity-js/commit/99659187b99bb2d97f8cc51910a4f12f2685875c).

If there's anything I missed, please feel free to extend it!

[2020-02-08 22:21] #323 closed

[2020-02-08 22:40] jan-molak commented on #323
Hey @sylvainleduby - please check out Serenity/JS version 2.1.2 and let me know what you think!

![image](https://user-images.githubusercontent.com/1089173/74092760-66f91e80-4ac0-11ea-9934-a13281edced1.png)

---
_If Serenity/JS makes your life easier you can [buy me a coffee](https://github.com/sponsors/jan-molak) on Github_ :octocat:

[2020-02-08 22:46] jan-molak commented on #110
Hi @metrophos! Both `@Manual` and `@manual` tags are recognised as of Serenity/JS 2.0.
Please check it out and let me know what you think!

---
_If Serenity/JS makes your life easier you can [buy me a coffee](https://github.com/sponsors/jan-molak) on Github_ :octocat:

[2020-02-08 22:46] #110 closed

[2020-02-08 22:59] jan-molak commented on #251
Hi @emosGambler - Serenity/JS 2.0 is live now so you can use the [`Pick`](https://serenity-js.org/modules/protractor/class/src/screenplay/questions/Pick.ts~Pick.html) question to pick an n-th element, as well as an element with matching text, and more.

There's a nice example [here](https://github.com/serenity-js/todomvc-demo/blob/904ebf979199989ca686808b3f9992c095883d3d/src/todomvc/ui/TodoList.ts

[2020-02-08 22:59] #251 closed

[2020-02-08 23:03] jan-molak commented on #269
Hi @AbhineetSharmax! Serenity/JS 2.0 is live and ships with a [`@serenity-js/assertions`](https://serenity-js.org/modules/assertions/) module that provides both the [`or`](https://serenity-js.org/modules/assertions/function/index.html#static-function-or) and [`and`](https://serenity-js.org/modules/assertions/function/index.html#static-function-and) functions.

Please check it out and let me know w

[2020-02-08 23:03] #269 closed

[2020-02-08 23:06] jan-molak commented on #249
Hey @san-ouadghiri! Serenity/JS 2.0 is live and ships with a [`@serenity-js/assertions`](https://serenity-js.org/modules/assertions/) module that enables the syntax I suggested in the above post.

Please check it out and let me know what you think!

---
_If Serenity/JS makes your life easier you can [buy me a coffee](https://github.com/sponsors/jan-molak) on Github_ :octocat:

[2020-02-08 23:06] #249 closed

[2020-02-08 23:11] jan-molak commented on #274
Hey @san-ouadghiri and @marktigno!

I've stopped using the `webdriver-manager` module on my projects and instead use the [`chromedriver`](https://www.npmjs.com/package/chromedriver) and [`geckodriver`](https://www.npmjs.com/package/geckodriver) modules:

[code]

Check them out and let me know what you think!

---
_If Serenity/JS makes your life easier you can [buy me a coffee](https://github.com/s

[2020-02-08 23:11] #274 closed

[2020-02-08 23:16] jan-molak commented on #282
Hey @malindapw! Serenity/JS 2.0 is live and ships with a completely re-written [Cucumber.js adapter](https://serenity-js.org/modules/cucumber/), which should address this issue.

Please check out the [template project](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) and let me know what you think!

---
_If Serenity/JS makes your life easier you can [buy me a coffee](https:

[2020-02-08 23:16] #282 closed

[2020-02-08 23:28] jan-molak commented on #354
Hey @abhinaba1080 - do you believe this to still be an issue, or should we close this ticket?

[2020-02-08 23:31] jan-molak commented on #292
Hi @AbhineetSharmax! Are you still experiencing this issue? If so, could you please create a minimal reproducible example using one of the [template projects](https://github.com/serenity-js)? Thanks!

[2020-02-08 23:34] jan-molak commented on #267
Hi @AbhineetSharmax - this used to be an intermittent issue with Serenity/JS version 1 when Protractor was configured to restart the browser between tests.

Serenity/JS version 2 addresses this problem, so could you please give it a try and let me know what you think? Thanks!

---
_If Serenity/JS makes your life easier you can [buy me a coffee](https://github.com/sponsors/jan-molak) on Github_ :oc

[2020-02-08 23:34] #267 closed

[2020-02-08 23:38] jan-molak commented on #284
Hi @boya678

Serenity/JS version 2 is live and addresses the issues related to restarting the browser between the tests, as [demonstrated here](https://github.com/serenity-js/serenity-js/blob/af2d4b530765574119ae0b70c49bca4f67f0d22a/integration/protractor-jasmine/spec/restarting_browser_between_tests.spec.ts).

Please check out the [template project](https://github.com/serenity-js/serenity-js-cucu

[2020-02-08 23:38] #284 closed

[2020-02-08 23:41] jan-molak commented on #144
Hi @anuradhadande! Serenity/JS v2 is available now and comes with [template projects](https://github.com/serenity-js) and a [new tutorial](https://serenity-js.org/handbook/thinking-in-serenity-js/index.html).

Please check them out and let me know what you think!

---
_If Serenity/JS makes your life easier you can [buy me a coffee](https://github.com/sponsors/jan-molak) on Github_ :octocat:

[2020-02-08 23:41] #144 closed

[2020-02-10 08:38] robin-weller commented on #455
Thanks @jan-molak, `2.1.1` is looking good for browser tagging :)

Something I am seeing a difference in though is the platform tagging.

Chrome:
[code]

Firefox:
[code]

Currently running Mac OS X 10.15.3 so it looks as though the Firefox run is picking up the Darwin version instead of the OS X version?

[2020-02-10 10:43] Ijee commented on #312
It's been a while since I created this issue.
I had and still have some tests where I check for multiple error / info messages that need to appear on the site because they are really important for the users. As it takes a lot of steps to get to that point I had them all in one scenario as I only wanted one scenario that checks for all plausibilities in regards to error / info messages.

It was not

[2020-02-10 11:17] jan-molak commented on #455
Hey @robin-weller - Different browsers describe the platform they run on differently, and to a different degree of fidelity. If I was to make the reporting consistent, I'd have to go either with the lowest common denominator or introduce another, higher-level tag (`PlatformType`?)

Not sure which one is better. Thoughts?

[2020-02-10 11:32] robin-weller commented on #455
I guess it's not going to be perfect either way. If you run one instance of Chrome on Catalina and one on Mohave, you won't see any difference. However, running Firefox would give you a bit more to go on, albeit a Darwin version number.

Having both `Platform` and `Platform Type` would provide the most useful information but could end up cluttering the report when different browsers report differe

[2020-02-10 11:49] jan-molak commented on #312
Thanks @Ijee, I think I understand what you're after.

So basically what you'd need is a variant of `Ensure.that` that can perform multiple assertions and only fail when at least one of them has failed. Is that right?

[2020-02-10 12:44] Ijee commented on #312
Well, that would help but as I have to click some elements or fill in some inputs on the page in-between those assertions I could not simply put it all in an `Ensure.that` even if I wanted to. These in-between steps are necessary for the state of the page so the errors / info show up.

[2020-02-18 08:39] AbhineetSharmax commented on #294
Hi @jan-molak , Greetings!!

Firstly, Thank you for 2.0. Its has brought us many things to explore and making things possible with your solutions for our asked questions. 😃

I am commenting here again, because even in 2.0 when i navigate to target> site> serenity> summary.txt still contains, " Pending " twice.

Thanks,
Abhineet Sharma

[2020-02-18 09:41] rakeshnambiar commented on #362
Anybody tried this with JavaScript? @jan-molak unfortunately, I am using JavaScript and not TypeScript.

[2020-02-18 10:32] AlexRex commented on #411
Hi @jan-molak I've been doing some tests with the version2 and looks like now the problem is solved!

Sorry for taking that long to answer, busy days. :)

[2020-02-18 10:32] #411 closed

[2020-02-18 12:18] jan-molak commented on #362
@rakeshnambiar - it should work the same way:

[code]

[2020-02-18 13:17] AlexRex opened #463 "Correct way of storing values between calls"
I am trying to test an API which requires a JWT token as the authorization mechanism.

The flow is the following:
1. Call endpoint to login -> JWT from body
2. Call endpoint to get user -> Get JWT from last request and place it in headers

The current logic I am doing is the following one:

1. Make first request and store it in the Notepad
[code]

2. Extract JWT token from latest request and reuse

[2020-02-18 14:10] rakeshnambiar commented on #362
@jan-molak with my limited knowledge in JavaScript I did a try. Initially I ended up with the error `Error: TypeError: After is not a function` while using the above function as it is. Then I added `this.After` and the latest error is:

[code]

[2020-02-18 16:25] jan-molak commented on #362
@rakeshnambiar - the code samples I provided above use Cucumber.js version 6, it feels like you're on version 1 where this solution won't work as that version of cucumber doesn't provide the `scenario` object when the `After` hook is called. I'd suggest upgrading to Cucumber.js v6.x, which should be relatively straight forward; have a look at step definition files in [the template repo](https://gi

[2020-02-18 16:52] rakeshnambiar commented on #362
@jan-molak - Yes, I have upgraded to the cuculber latest version `6.0.5` but after that it cannot detect the steps defenition files with the settings `require: [ 'features']` or `require: [ 'features/**/*.js']`

The template project is mainly based on screenplay with TypeScript whereas I am using JavaScript without the Screenplay approach.

[2020-02-19 11:04] RaghuGouda opened #464 "serenity-js-cucumber-protractor only generating json but not HTML report"
When the script is run generating the screenshots and the json reports, but not the html reports.
project is:  https://github.com/serenity-js/serenity-js-cucumber-protractor-template
below are the test result
![Screenshot_225](https://user-images.githubusercontent.com/34091585/74828728-9cf69800-5335-11ea-8510-d5829bf87c73.png)
![Screenshot_226](https://user-images.githubusercontent.com/34091585/74

[2020-02-19 22:05] jan-molak commented on #464
Hi @RaghuGouda,

Thanks for the screenshots, it really helps me to understand the issue better!

It looks like the `test:report` script is not entirely correct as it calls `serenity-bdd run ./target`

If you run `serenity-bdd` with a `--help` switch as follows:

[code]

you'll see what arguments the command handles:

[code]

Since your `ArtifactArchiver` in `protractor.conf.js` stores artifacts un

[2020-02-20 05:20] RaghuGouda commented on #464
Hi @jan-molak
I tried both the ways but HTML Report is not generating please have a look

![Screenshot_230](https://user-images.githubusercontent.com/34091585/74903349-b0a20d00-53ce-11ea-842f-98a866403297.png)
![Screenshot_231](https://user-images.githubusercontent.com/34091585/74903354-b1d33a00-53ce-11ea-83c5-ae35e2674aec.png)
![Screenshot_232](https://user-images.githubusercontent.com/34091585/7

[2020-02-20 11:31] jan-molak commented on #464
Hey @RaghuGouda - Would you be able to push your repository to Github so that I can try to debug the issue? Your config seems correct at first glance so I'd like to get to the bottom of this.

[2020-02-20 12:45] RaghuGouda commented on #464
Hello @jan-molak -Please find the below link
https://github.com/RaghuGouda/serenity

[2020-02-21 00:12] jan-molak commented on #464
Thanks! So that's interesting, it seems to be working fine
![image](https://user-images.githubusercontent.com/1089173/74991710-a881b600-543e-11ea-84d2-13b2f6e85841.png)

I wonder, do you have java installed? What do the following commands return on your machine:
[code]
and
[code]
Thanks

[2020-02-21 07:10] RaghuGouda commented on #464
ohhh! java haven't installed in my machine .

After installation, it worked.

Thanks @jan-molak

[2020-02-21 07:10] #464 closed

[2020-02-21 10:07] rakeshnambiar commented on #362
@jan-molak - I am blocked, kindly help me with the screenshot issue. I will update the same project in case you want to try it yourself.

[2020-02-21 11:35] jan-molak commented on #362
Hey @rakeshnambiar - Serenity/JS simply passes the configuration you specify in your `protractor.conf.js` to Cucumber CLI.

If you'd like to learn more about the configuration options, please refer to the [Cucumber CLI docs](https://github.com/cucumber/cucumber-js/blob/master/docs/cli.md).

Basically all you need to do to use JavaScript step definitions is to follow the [Serenity/JS Cucumber templ

[2020-02-21 11:40] jan-molak commented on #411
Amazing, thanks for letting me know!

[2020-02-21 16:00] NicoForce opened #473 "Where to find serenity-js 2.0"
I've been working on a huge automation project for two years now using only protractor, jasmine, and page objects as design pattern.

However, due to many mistakes my old self made, this project is not as maintainable as it should be, and so I want to change the stack to use serenity, cucumber, protractor and so on since I believe that the patterns being introduced by serenity will be of huge help

[2020-02-21 16:57] rakeshnambiar commented on #362
@jan-molak I have copied all my files to the template project and now the test execution is working fine. However, there's no screenshot. I think for the screenshot, I should change all the steps in the screenplay pattern format and it was the same case before I migrate to Cucumber.js version 6.

[2020-02-21 23:21] NicoForce opened #474 "Configure Screenshots"
I have a few questions regarding the use of serenity-js:

1) **Is there a way to configure screenshoots taken by steps or tasks, such as being show in a [very old serenity bdd blog]**(https://johnfergusonsmart.com/serenity-bdd-tip-fine-tuning-screenshots-living-documentation/).

2) I modified [protractor-beautiful-reporter](https://www.npmjs.com/package/protractor-beautiful-reporter) so I could ta

[2020-02-22 17:15] jan-molak commented on #473
Hi @NicoForce - sure, the best place to start is the Serenity/JS website at https://serenity-js.org.

You'll find the [Serenity/JS Handbook](https://serenity-js.org/handbook/index.html) there, which will walk you through the main concepts and features of the framework. The handbook is a work in progress and is continuously evolving, but together with [the video](https://www.youtube.com/watch?v=djP

[2020-02-22 17:22] jan-molak commented on #474
Sure, you won't need the `protractor-beautiful-reporter` as Serenity/JS provides you with much more thorough reporting and screenshot capabilities.

If you'd like to add Serenity/JS reporting to a non-Screenplay test suite, check out #362.
If you're the [Screenplay Pattern](https://serenity-js.org/handbook/thinking-in-serenity-js/screenplay-pattern.html) in your test suite, all you need to do in o

[2020-02-22 17:54] jan-molak commented on #473
I've realised that it's not immediately obvious that you'd need to click on "show more" to see the links to the website on YouTube.

Hopefully, this little note will address that. What do you think, @NicoForce?

![image](https://user-images.githubusercontent.com/1089173/75096912-58206a80-559c-11ea-87ac-ae6e64921af5.png)

[2020-02-24 11:35] DilipKumar1412 opened #480 "Serenity Report with screenshot (Non-Screenplay) for Protractor/Mocha"
Not getting test screenshots in serenity report. I am using Protractor/Mocha and I am not finding example report or code in the GitHub

[2020-02-25 09:33] abhinaba1080 opened #482 "Is there any mocking library available to plug with protractor/serenity setup for Non-Angular apps?"
Hi Jan,

I am having an non angular app under test. So, most of the time I am using browser.waitForAngularEnabled(false). In this circumstance, most of the general mocking library does not work with protractor (ex: protractor-http-mock etc) as, for non angular apps protractor can not track the http calls.

I found out a library ng-apimock which can be useful but for already deployed app, it seems

[2020-02-25 11:26] jan-molak commented on #482
Hey @abhinaba1080 - good question! The answer depends on the type of the framework your app uses and the affordances it provides. I.e. does the framework allow you to inject [test doubles](https://janmolak.com/mocking-javascript-a-little-26efb5f7f52a) in an elegant way like Angular does? Or would you have to mock things at a lower level, for example by using an [`xhr-mock`](https://www.npmjs.com/p

[2020-02-25 11:30] jan-molak commented on #480
Hi @DilipKumar1412! Please note that Serenity/JS v2 doesn't support Mocha yet, but you can use it with Jasmine, which `describe/it` interfaces are almost identical. Please see the [template project](https://github.com/serenity-js/serenity-js-jasmine-protractor-template).

Does this help?

[2020-02-25 11:37] DilipKumar1412 commented on #480
Hi @jan-molak,

Thanks for the reply. Is support for Mocha framework in pipeline or WIP? if yes, when can we expect the release or version?

Thanks

[2020-02-25 12:19] abhinaba1080 commented on #482
Thank @jan-molak .

1. What does ExecuteScript.sync does? what is the alternative protractor browser.executeScript command?

2. i have tried the same by simply executing chrome console, it seems nothing happens. if time permits, can try a basic scenario in your chrome console and let me know the outcome.

[2020-02-25 15:24] jan-molak commented on #482
All the `ExecuteScript` interactions inject JavaScript code into the browser used in the test.
You can use this feature to interact with your application at a low, programmatic level (a.k.a. do things that the user would not have normally done).

It's a rather advanced technique and is basically the same as if you typed JavaScript code into the Chrome console during the test.

To learn more about

[2020-03-01 21:15] abhinaba1080 opened #487 "is protractor dead? then what next?"
Hi Jan,

Serenity-Js deeply rely on protractor to locate the elements (if i understood correctly).

I am seeing no commits are made to protractor repo for a year now. do you have any clue about the future of protractor or serenity-js in upcoming years?

[2020-03-02 10:44] DilipKumar1412 opened #490 "Arbitrary screenshots in non-screenplay scenarios"
Hi @jan-molak ,

I want to display hyperlink in the Assertion message, but it is displaying anchor tag as string in the HTML report.

Expected result should be Screenshot : [2020-03-02T_12_45_58_612Z.png](url)

Is there any workaround to achieve this?

Thanks

[2020-03-03 21:19] casparov-pablo commented on #218
Hi @jan-molak  not sure it's the right place for this comment but, since you are now on investigating the Cyrpress and Karma things, maybe that's the good point to take Puppeteer into consideration as well? I mean there is #487  issue which points to protractor being abandoned, and for the sake of Serenity-Js evolution it will be great to expose some Interfaces to implement adapters easier for oth

[2020-03-05 00:40] jan-molak commented on #291
Hey @san-ouadghiri - you're on the right track! Check out the new [TodoMVC demo project](https://github.com/serenity-js/todomvc-demo/blob/master/src/todomvc/ClearLocalStorage.ts):

[code]

To delete cookies use the [`DeleteCookies`](https://serenity-js.org/modules/protractor/class/src/screenplay/interactions/DeleteCookies.ts~DeleteCookies.html) interaction.

Hope this helps!
Jan

[2020-03-05 00:40] #291 closed

[2020-03-05 01:33] jan-molak opened #493 "Alternatives to Protractor - request for comments"
While the Protractor project is still maintained by the Angular team (see angular/protractor#5390) and the integration with it will continue to be supported by the Serenity/JS team as long as our community finds it useful, the project is no longer as active as it used to be.

At present, there are other modern browser integration frameworks with an active community. Ones that provide functionality

[2020-03-05 01:34] jan-molak commented on #487
Let's move this conversation to #493

[2020-03-05 01:34] #487 closed

[2020-03-05 01:38] jan-molak commented on #218
Hi @pavel-casparov - Serenity/JS v2 is modular by design and can be extended to support other browser integration tools. Let's move this conversation to #493

[2020-03-05 01:38] jan-molak commented on #326
Let's move this conversation to #493

[2020-03-05 01:42] jan-molak commented on #490
Hey @DilipKumar1412! It looks like the screenshot did not get attached to the ticket, would you mind uploading it again? Thanks!

[2020-03-05 02:37] AbhineetSharmax commented on #493
@jan-molak , there is no doubt that Serenity-JS is helping a lot of people understanding the framework in a quick and easy way.
Would also love to see serenityJS in action with webdriver.io with programming language Python.(Python-Selenium BDD). Thank you for every effort you do to make things easier.

Best Regards,
Abhineet Sharma

[2020-03-05 06:50] DilipKumar1412 commented on #490
I want to display hyperlink in the Assertion message on failure(Modal), all html tags are display as string

![image](https://user-images.githubusercontent.com/61414460/75955181-5c714f80-5edb-11ea-8b61-ffd4352fd8e3.png)

Expected result should be Screenshot : [2020-03-02T_12_45_58_612Z.png](/)

[2020-03-05 07:56] jan-molak commented on #490
I'd like to better understand your use case.

- Would you be able to elaborate further on the problem you're trying to solve? Why do you need to display a html tag in a report while Serenity/JS could take a screenshot for you automatically upon the assertion failure?
- Could you provide a code sample you're using right now to accomplish the result from the screenshot above?

Thanks!

[2020-03-05 08:35] DilipKumar1412 commented on #490
![image](https://user-images.githubusercontent.com/61414460/75962706-46b75680-5eea-11ea-804c-06a34cc82936.png)

We are using serenity report for Protractor/Mocha framework (Non-screenplay), we don't have option to take screenshot on failure(as you mentioned in the below thread https://github.com/serenity-js/serenity-js/issues/480).

So, we are taking screenshot and storing in a folder using browse

[2020-03-05 14:59] jan-molak commented on #490
Right, I see what you mean. I'm afraid it's not designed to work this way.
I'd suggest you consider migrating to Serenity/JS v2 and then either using Screenplay _or_ using the internal Serenity/JS communication mechanism to inform the framework of the screenshot you've taken so that it's included in the report.

Does this help?

[2020-03-05 15:05] jan-molak commented on #480
Adding support for Mocha is definitely possible, but it's not a priority at the moment I'm afraid.
I'm open to PRs enabling this integration and there's always an option for your company to [support Serenity/JS](https://github.com/sponsors/serenity-js) and have the ticket prioritised over other things in the backlog. Is this something you'd consider?

[2020-03-06 14:00] RaghuGouda opened #495 "screenshots for each interactions in non-screenplay style scenarios"
Hi @jan-molak ,
Is there any way to take screen shots for each interactions in After hook ,
I have tried adding TakePhotosOfInteractions in after hook but its not working

After(function (this: WithStage, scenario) {
    return this.stage.theActorCalled('Inspector').attemptsTo(
        TakePhotosOfInteractions.of(scenario.pickle.name)
    );
});

[2020-03-06 16:29] jan-molak commented on #495
Hey @RaghuGouda - the above code sample above is not exactly correct as [`TakePhotosOfInteractions`](https://serenity-js.org/modules/protractor/class/src/stage/crew/photographer/strategies/TakePhotosOfInteractions.ts~TakePhotosOfInteractions.html) is how you configure a [`Photographer`](https://serenity-js.org/modules/protractor/class/src/stage/crew/photographer/Photographer.ts~Photographer.html)

[2020-03-06 16:29] #495 closed

[2020-03-07 05:24] RaghuGouda commented on #495
Actully i want take screen shot for each step.

In this case it will take screen shots when ever it fails

After({tags:"@ass"},function (this: WithStage, scenario) {
    return this.stage.theActorCalled('Inspector').attemptsTo(
        Check.whether(scenario.result.status, equals('failed'))
            .andIfSo(TakeScreenshot.of(scenario.pickle.name))
    );
});

and in this case it will take scre

[2020-03-07 19:39] abhinaba1080 commented on #493
@jan-molak

Lat couple of day, I was thinking about the same and have taken some time to analyse, research and study before delivering a thought on this.

**Reasons of thinking about an alternative:**

1. protractor repository is facing lower commit frequency for a long time now. This does not necessarily mean that protractor is getting abandoned/archived. The new hope is here [https://github.com/

[2020-03-08 05:21] RaghuGouda commented on #362
Hey @jan-molak
Issue #495 Actully i want take screen shot for each step.

In this case it will take screen shots when ever it fails

After(function (this: WithStage, scenario) {
return this.stage.theActorCalled('Inspector').attemptsTo(
Check.whether(scenario.result.status, equals('failed'))
.andIfSo(TakeScreenshot.of(scenario.pickle.name))
);
});

and in this case it will take screen shots after t

[2020-03-08 22:49] jan-molak commented on #362
@RaghuGouda - yes, but that requires you to use the Screenplay Pattern. Otherwise, Serenity/JS has no way of knowing what you consider to be a "step". Check out the [`serenity-js-cucumber-protractor-template`](https://github.com/serenity-js/serenity-js-cucumber-protractor-template), which is in fact [already configured](https://github.com/serenity-js/serenity-js-cucumber-protractor-template/blob/c

[2020-03-09 07:19] RaghuGouda commented on #362
@jan-molak
ohh! Okay l will look into it .
Thank you !!

[2020-03-09 13:58] christian-bromann commented on #493
I would like to chime into this:

This is not true. With v6 (which we will release soon) you don't need a driver anymore if you run tests locally. WebdriverIO by default will use Puppeteer to run its automation. This will also allow user to make use of the extended DevTools capabilities to e.g. stub network requests or emulate other parts of the browser. Read on more on this here: https://github.c

[2020-03-09 16:36] jan-molak commented on #28
Hi all! Serenity/JS 2.0 is live and ships with a brand new [Cucumber adapter](https://serenity-js.org/modules/cucumber/) that supports any version of Cucumber.js, all the way from 1.x to 6.x

Check out the [template project](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) and [examples](https://github.com/serenity-js/serenity-js/tree/master/examples) and let me know what y

[2020-03-09 18:19] iranicus commented on #493
For us we are currently migrating a lot of our existing angular 4 projects that are heavily Jasmine karma unit test based to Angular 8 with Jest for unit tests and Cypress that works with Jest for assertions too. Therefore for us in the near future Cypress is the one that I would put forward especially due to its popularity (although sucks that they are Chrome/Chromium only). We are going to be us

[2020-03-10 12:09] jan-molak commented on #354
Hey @abhinaba1080 - I haven't heard from you regarding this ticket for a while so I'm going to close it. Please feel free to re-open it if you believe this functionality is still required.

[2020-03-10 12:09] #354 closed

[2020-03-10 12:12] jan-molak commented on #474
Hey @NicoForce  - I haven't heard from you regarding this ticket for a while so I'm going to close it. Please feel free to re-open it if you need any further guidance.

[2020-03-10 12:13] #473 closed

[2020-03-10 12:15] jan-molak commented on #422
Hey @vaibhavgatne - I haven't heard from you regarding this ticket for a while so I'm going to close it. Please feel free to re-open it if you need any further guidance.

[2020-03-10 12:15] #422 closed

[2020-03-10 12:17] jan-molak commented on #402
Hey @ralves20 - we haven't heard from you regarding this ticket in a while so I'm going to close it. Please feel free to re-open it if you believe the issue still requires our attention.

[2020-03-10 12:17] #402 closed

[2020-03-10 12:20] #232 closed

[2020-03-10 12:22] #217 closed

[2020-03-10 12:24] jan-molak commented on #217
I'm planning to start working on a Serenity/JS course in the near future. If you'd like to stay up to date with developments in this space, please follow me on [Twitter](http://twitter.com/@JanMolak) or [LinkedIn](https://www.linkedin.com/in/janmolak/) 😃

[2020-03-10 12:25] #218 closed

[2020-03-10 12:28] jan-molak commented on #124
The seed projects have been superseded by [serenity-js-cucumber-protractor-template](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) and [serenity-js-jasmine-protractor-template](https://github.com/serenity-js/serenity-js-jasmine-protractor-template) and will be archived soon (#339)

[2020-03-10 12:28] #124 closed

[2020-03-10 12:29] #53 closed

[2020-03-10 12:31] jan-molak commented on #292
Hi @AbhineetSharmax - I haven't heard from you in a while so I'm going to close this ticket. Please feel free to re-open it if you're still experiencing the issue and can provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example). Thanks!

[2020-03-10 12:31] #292 closed

[2020-03-10 12:35] jan-molak commented on #255
Hi @san-ouadghiri - the interaction to [`Check`](https://serenity-js.org/modules/assertions/class/src/Check.ts~Check.html) has been completely re-written in Serenity/JS 2.0. Please check out the [API docs](https://serenity-js.org/modules/assertions/class/src/Check.ts~Check.html) and [unit tests](https://serenity-js.org/modules/assertions/test-file/spec/Check.spec.ts.html) that demonstrate usage ex

[2020-03-10 12:35] #255 closed

[2020-03-10 12:39] jan-molak commented on #272
Hi @charleshimmer - apologies for not getting around to responding to your ticket for so long; I was busy with Serenity/JS 2.0 - which is now available and ships with an [`isActive()` expectation](https://serenity-js.org/modules/protractor/function/index.html#static-function-isActive).

Hope this addresses the issue!
Jan

[2020-03-10 12:39] #272 closed

[2020-03-10 14:00] jan-molak commented on #264
Hey guys, Serenity/JS 2.0 is live and ships if a completely re-written interaction to [`Check`](https://serenity-js.org/modules/assertions/class/src/Check.ts~Check.html).

[code]

Hope this helps!
Jan

[2020-03-10 14:00] #264 closed

[2020-03-10 14:02] #474 closed

[2020-03-10 14:14] jan-molak commented on #210
In Serenity/JS 2.0 we'd use the following syntax:

[code]

See:
- https://serenity-js.org/modules/rest/
- https://serenity-js.org/modules/assertions/
- https://serenity-js.org/modules/core/

[2020-03-10 14:14] #210 closed

[2020-03-10 14:26] jan-molak commented on #225
Hi @san-ouadghiri and apologies for not being able to get round to this ticket sooner!
I was focusing on Serenity/JS 2.0. The good news is that it's now live and ships with [better docs around taking notes](https://serenity-js.org/modules/core/class/src/screenplay/interactions/TakeNote.ts~TakeNote.html)

Please check out the [API docs](https://serenity-js.org/modules/core/class/src/screenplay/inte

[2020-03-10 14:26] #225 closed

[2020-03-10 15:21] jan-molak commented on #275
Hi @emosGambler!

The recently released Serenity/JS 2.0 ships with additional interactions, such as [`Hover`](https://serenity-js.org/modules/protractor/class/src/screenplay/interactions/Hover.ts~Hover.html).

Other examples from your original post can be addressed as follows:

### Conditional logic
The following logic:
[code]
can be expressed as:
[code]
using:
- an interaction to [`Check`](https:

[2020-03-10 15:21] #275 closed

[2020-03-10 15:25] jan-molak commented on #319
Hey @AbhineetSharmax  - did @marktigno's suggestion help you to resolve the issue, or is there any further guidance you'd like?

Thanks,
Jan

[2020-03-10 15:29] jan-molak commented on #294
Cool, thanks for re-testing. I'll add it to [the backlog](https://github.com/orgs/serenity-js/projects/1).

[2020-03-10 15:31] jan-molak commented on #247
Hey @pscanlon1 - I haven't heard from you in a while, so I assume that this ticket can be closed. Please feel free to re-open it or raise a new one if you'd like any further assistance.

[2020-03-10 15:31] #247 closed

[2020-03-10 15:59] Manishrn opened #496 "Not able to use isDisabled() or isNotEnabled() assertion"
Hi
I am trying to check that perticular webelement is disabled or not .
I can see that Ensure.that(target, isVisible()) and Ensure.that(target, isEnabled()) is there, however
not able to find isDisabled()/isNotEnabled() .

Is there a way to achieve this ? @wakaleo @jan-molak

I did not see any declaration of isNotEnabled/ isDisabled in below image
![image](https://user-images.githubusercontent.com

[2020-03-10 16:14] jan-molak commented on #162
The new `SerenityBDDReporter` is available as part of the [`@serenity-js/serenity-bdd` module](https://serenity-js.org/modules/serenity-bdd/). Thanks for your patience and support!

[2020-03-10 16:14] #162 closed

[2020-03-10 16:18] jan-molak commented on #496
Hey @Manishrn - sure, you can combine the expectations from the [`@serenity-js/protractor` module](https://serenity-js.org/modules/protractor/identifiers.html#expectations) with the ones from [`@serenity-js/assertions`](https://serenity-js.org/modules/assertions/identifiers.html#expectations).

For example:
[code]

Hope this helps!
Jan

[2020-03-10 16:18] #496 closed

[2020-03-10 16:36] jan-molak commented on #104
This was a synchronisation error in `SerenityBDDReporter`, addressed in [Serenity/JS 2.0](https://serenity-js.org/modules/serenity-bdd).

Serenity/JS 2.0 does not have a Mocha-specific adapter (yet!), but in the meantime, you can use it with Jasmine - see the [template repo](https://github.com/serenity-js/serenity-js-jasmine-protractor-template),

[2020-03-10 16:36] #104 closed

[2020-03-10 16:55] brabenetz commented on #189
I think I found the root-cause, and have a (very ugly) workaround for it.

First I need the cucumber results also as json format **"json:target/cucumber.json"** in my `protractor.conf.js`:

[code]
But the cucumber tests generates only an "issues"-node into the json-results:
[code]

The Java-Version of cucumber generates also a "additionalIssues"-node into the json-results:
[code]

The Java [sereni

[2020-03-10 17:05] jan-molak commented on #76
Hey @dpkano and @BlacktoBlue - this turned out to be a synchronisation error in the Serenity/JS 1.x implementation of the `SerenityBDDReporter`. [Serenity/JS 2.0](https://serenity-js.org) ships with a [completely re-written reporter](https://serenity-js.org/modules/serenity-bdd) that no longer has that issue.

Please check it out and let me know what you think!

Thanks for your patience and suppor

[2020-03-10 17:05] #76 closed

[2020-03-10 17:09] jan-molak commented on #283
Hi @rakeshnambiar - could you please see if you can reproduce this scenario with Serenity/JS 2.0?
You might want to use the [`serenity-js-cucumber-protractor-template` repo](https://github.com/serenity-js/serenity-js-cucumber-protractor-template)

[2020-03-10 17:12] jan-molak commented on #246
Hi @andreasgebauer! This was a synchronisation issue in the Serenity/JS 1.x implementation of the `SerenityBDDReporter`. [Serenity/JS 2.0](https://serenity-js.org) ships with a completely re-written reporter that doesn't have this problem.

While Serenity/JS 2.0 doesn't support Mocha (yet!), you can use it with Jasmine - check out the [template repository](https://github.com/serenity-js/serenity-j

[2020-03-10 17:12] #246 closed

[2020-03-10 17:24] jan-molak commented on #208
Hi @san-ouadghiri and thanks for your patience! The great thing about the [modular design](https://serenity-js.org/handbook/integration/architecture.html) of the recently released Serenity/JS 2.0 is that that you can use it to write REST tests using pure Jasmine or Cucumber, without Protractor. This means that you don't have to use the browser if you don't need it. Check out the [examples](https:/

[2020-03-10 17:24] #208 closed

[2020-03-11 12:48] brabenetz commented on #189
Update: **"json:target/cucumber.json" is not needed**, the json-files per test will allways be written into `target/site/serenity/*.json`
The config  `format: ["pretty"],` is enough:
[code]

[2020-03-11 13:42] Manishrn commented on #496
@jan-molak Thank you 👍  , I will check this.

[2020-03-11 17:35] NicoForce commented on #474
Sorry for not answering @jan-molak.

I thank you for the information provided, I'll try to enhance serenity-js screenshoot taking capabilities for my project.

Thanks for closing the issue, as it's been solved.

[2020-03-11 20:42] lucieneven opened #499 "multiple browser's name in the report when having more rows of datatable"
Hi guys,

I'm writing this in the hope that someone can shed some light on the report. When I have only one row of datatable, everything looks fine with the html report generated. However, if I have multiple row of datatable, I'll see multiple browser name in the html report generated.

During our test, I use Chrome, so I see 3 Chrome when I have 3 rows of datatable.

Example is like below, the fe

[2020-03-12 11:04] jan-molak commented on #189
Right; so what you're saying, @brabenetz is that we need both `issues` and `additionalIssues` in the `json` reports produced by Serenity/JS?

[2020-03-12 11:13] jan-molak commented on #499
Hi @lucieneven and thanks for reporting the issue. Could you please use the [`serenity-js-cucumber-protractor-template`](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) to create a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) and publish it to Github so that we can try to reproduce the problem you're seeing?

Also, could you p

[2020-03-12 11:35] brabenetz commented on #189
Yes, seems so... (The java version writes the ids into "issues" & "additionalIssues")
With the regex replace my Jira links (from the "serenity.issue.tracker.url") are now shown on the reports.

[2020-03-13 21:42] andreasmarkussen commented on #346
Yup! Got the same issue :) I need it for circleci.com .
I will look into doing it as well, but not sure that it will be easy.

Alternatively, I would be happy with a cucumber compatible JSON file.

[2020-03-14 14:15] abhinaba1080 commented on #346
@igTkachov Can I provide a workaround?

[2020-03-14 14:25] abhinaba1080 commented on #325
@boya678  Can I provide a workaround?

cucumber-junit-convert can be your friend in this case:

[code]

in your protractor conf, add format options to emit cucumber results in a JSON format to a specific file, like:

[code]

Then create a JS file which will convert this JSON report to JUNIT style report. Let's say, the file name is **jenkins.report.js**

[code]

You can add the conversion process

[2020-03-14 14:29] abhinaba1080 commented on #482
Hi @jan-molak

Do we have in-built mocking utility inside the API library of Serenity 2.0?

Any documentation will help as I have just started to migrate the API testing framework from Serenity 1.x to 2.0.

[2020-03-14 15:05] jan-molak commented on #202
Hey @mummybot! This feature has arrived in [Serenity/JS 2.0](https://serenity-js.org).

You can now use `Wait` with any [`expectation`](https://serenity-js.org/modules/assertions/identifiers.html#expectations):

[code]

See:
- question about the [`CSSClasses`](https://serenity-js.org/modules/protractor/class/src/screenplay/questions/CSSClasses.ts~CSSClasses.html)
- interaction to [`Wait`](https://

[2020-03-14 15:05] #202 closed

[2020-03-14 15:17] jan-molak commented on #183
Hey @san-ouadghiri! Serenity/JS 2.0  ships with a completely re-written [`Photographer`](https://serenity-js.org/modules/protractor/class/src/stage/crew/photographer/Photographer.ts~Photographer.html), which you can configure as per the [API docs](https://serenity-js.org/modules/protractor/class/src/stage/crew/photographer/Photographer.ts~Photographer.html):

[code]

Hope this helps!
Jan

[2020-03-14 15:17] #183 closed

[2020-03-14 15:26] jan-molak commented on #180
Hey @marktigno!

Serenity/JS 2.0 ships with dedicated questions about [`Cookie`](https://serenity-js.org/modules/protractor/class/src/screenplay/questions/Cookie.ts~Cookie.html), as well as the new [assertions library](https://serenity-js.org/modules/assertions/) to address this use case:

[code]

Hope this helps!
Jan

[2020-03-14 15:26] #180 closed

[2020-03-14 15:27] #153 closed

[2020-03-14 15:30] jan-molak commented on #154
Hey @AG0819! In Serenity/JS 2.0 you should be able to implement an interaction to `Debug` as follows:

[code]
then
[code]

Let me know if this helps!
Jan

[2020-03-14 15:48] jan-molak commented on #115
Hey @kumarvarun1252, @BlacktoBlue, @JeffGaly! Apologies for taking long to respond, but I was focusing on Serenity/JS 2.0.

I'd like to better understand the use case for the consolidated JSON report.
Could you please elaborate a bit further on the format of the report your CI/CD system requires?

@BlacktoBlue - that's doable, but you'd need to introduce some additional processing steps to your pi

[2020-03-14 15:50] jan-molak commented on #133
Examples are now included in [API docs](https://serenity-js.org/modules) published at [serenity-js.org](https://serenity-js.org).

[2020-03-14 15:50] #133 closed

[2020-03-14 16:49] jan-molak commented on #137
Hi @lufecir!

I realise that last time we spoke you had to use Page Objects to deliver your project. I've been focusing on Serenity/JS 2.0, and unfortunately, didn't have enough capacity to support you with your PR.

Serenity/JS 2.0 is now live and with a [brand new website](https://serenity-js.org) where you can find instructions on how to [build and test the project locally](https://serenity-js.

[2020-03-14 16:49] #137 closed

[2020-03-14 17:20] jan-molak commented on #482
Hey @abhinaba1080 - there are two ways you can do it.

### Axios Mock

The ability to `CallAnApi` uses `axios` under the hood, which means you can mock the responses using something like the [`axios-mock-adapter`](https://github.com/ctimmerm/axios-mock-adapter).

For example:

[code]
Engage the in the before hook of your chosen test runner, i.e. Cucumber:
[code]
Then in the test:
[code]

However,

[2020-03-14 19:47] igTkachov commented on #346
@abhinaba1080 I've created my local convertor for Azure report. But your convertor should work, because Azure can parse cucumber report in xml format.

[2020-03-15 00:16] #189 closed

[2020-03-15 00:16] #455 closed

[2020-03-15 00:36] jan-molak commented on #455
This functionality has been introduced in `@serenity-js/serenity-bdd` `v2.3.0`, which generates both the `browser` and `platform` tags based on the information provided by the browsers (and some provide more precise information than others...):

![image](https://user-images.githubusercontent.com/1089173/76692864-94ebf880-6654-11ea-83ee-b8ed4943fdd3.png)

It also generates icons for the recognised

[2020-03-15 00:50] jan-molak commented on #189
Hi @cmurczek, @cmelion, @san-ouadghiri, @andreasgebauer, @otoniel-isidoro-sofist, @JGONGSQ, @brabenetz, @iranicus and @abhinaba1080!

This feature required introducing changes in Serenity BDD Core, Serenity BDD CLI and Serenity/JS projects so it all took a while to implement.

Integration with Jira (and other issue trackers, such as Trello) is available as of `@serenity-js/serenity-bdd-reporter` `

[2020-03-16 07:56] Manishrn commented on #496
@jan-molak  working fine, Thank you :)

[2020-03-16 10:30] Manishrn opened #501 "Getting message :serenity.callToStageFor(...) has been deprecated. Please use `actorCalled(name)` and `actorInTheSpotlight()` functions from @serenity-js/core to access the actors instead."
Hi @jan-molak ,

We have started using SerenityJs 2.0 in our Projects. I am getting "serenity.callToStageFor(...) has been deprecated. Please use `actorCalled(name)` and `actorInTheSpotlight()` functions from @serenity-js/core to access the actors instead."

Our team has followed all the steps given in https://serenity-js.org/modules/core/class/src/stage/WithStage.ts~WithStage.html while stage imp

[2020-03-16 15:40] usvgmani opened #502 "npm test:report not working in serenity-js 2.2.2 -says corrupt jar for 2.1.9"
**I get below exception while trying to run "serenity-bdd run" to get a test report on the serenity js 2.2.2 on java 1.8 on macos, when I manually download 2.1.8-all.jar the same command works. Does 2.1.9 require a certain version of java?**

[2020-03-16 16:30] usvgmani commented on #502
All fine, Issue with the local jar and download. Apologies.

[2020-03-16 16:30] #502 closed

[2020-03-17 00:59] jan-molak commented on #501
Hi @Manishrn! I'm actually working on the Serenity/JS 1.x to 2.x migration guide (#377) [as we speak](https://github.com/orgs/serenity-js/projects).

Serenity/JS 2.x has introduced a number of features designed to make your life easier, for example, the (deprecated) `WithStage` interface is no longer needed and you could implement the code from your examples as follows:

[code]

In your actors fil

[2020-03-17 01:03] jan-molak commented on #496
@Manishrn - splendid! Thanks for letting me know 🎉

[2020-03-17 01:43] jan-molak commented on #502
No worries, glad you got it sorted out!

[2020-03-17 06:22] Manishrn commented on #501
Hi @jan-molak
The issue that I had mentioned is fixed by the implementation you suggested.
Thank you for your help 👍

[2020-03-17 10:23] andreasmarkussen opened #503 "Contributing and compiling and testing the serenity-js repository"
Node setup: Windows 10 with Node v13.9.0

I am unable to compile and run the tests.

I wanted to contribute to the Serenity-JS project, with a test case and a fix, to detecting if Java is missing, but after a few hours, I had to give up.

I tried to do the following

    npm install compile test

But I keep getting dependency problems.

[code]

I have also tried using Ubuntu on my windows machine

[2020-03-17 23:11] jan-molak commented on #501
You're welcome, thanks for letting me know 👍 I've expanding the soon-to-be-published migration guide to help other engineers who might have encounter the issues you came across.

[2020-03-17 23:11] #501 closed

[2020-03-17 23:14] jan-molak commented on #503
Hi @andreasmarkussen, and thanks again for offering your time and help!

As per our conversation on the [Serenity/JS Gitter channel](https://gitter.im/serenity-js/Lobby), please check out the [contributing guide](https://serenity-js.org/contributing.html#proposing-enhancements).

After cloning a fork of the Serenity/JS monorepo you'll need to run:
[code]

Hope this helps!
Jan

[2020-03-17 23:14] #503 closed

[2020-03-19 16:38] abhinaba1080 commented on #362
hi @jan-molak , what should be the configuration to take screenshot of only failed scenarios

[2020-03-19 16:44] mtahat opened #506 "NoSuchSessionError: Invalid Session id, when Trying to take screenshot ( cucumber with hook file)"
I am using Serenity-js with Cucumber, protractor & typescript. I added a **hook.js** to my framework to close and clean the locale storage session after each feature/scenario. Then I start getting this Invalid session id exception. I also have **restartBrowserBetweenTests: true** in my protractor.config file.

FYI: I used the template cucumber/serenity template that you have here to build my proje

[2020-03-19 18:25] jan-molak commented on #506
Hey @mtahat!

It looks like the code samples mix synchronous and asynchronous calls, and screenplay and non-screnplay design.

What you'd want in your `hook.ts` is this:

[code]

Please note that calling `browser.close()` is not needed since Protractor manages the state of the browser for you.

And in the code sample below:
[code]

Calling a `clear()` on an empty `sessionStorage` won't result in a

[2020-03-19 18:43] mtahat commented on #506
That's Make perfect sense! Thank you for your quick response. Do I need restratBrowserBetweenTest attribute in the Protractor.congif? it seems like having that attribute True causes issues with the screenshot!

[2020-03-19 21:26] mtahat commented on #506
The changes that @jan-molak suggested for the hook file works for me. now all tests passed no issues with screenshot. I am closing this this issue since it was related to my hook file not serenity js.
Thank Jan.!

[2020-03-19 21:26] #506 closed

[2020-03-19 23:03] jan-molak commented on #506
You're most welcome, happy to have helped!

---
_If Serenity/JS makes your life easier, make sure to [buy us a coffee](https://github.com/sponsors/serenity-js) to keep us going :octocat:_

[2020-03-19 23:38] jan-molak commented on #337
Hey @gurcuesra - we've [just been talking about a similar use case](https://gitter.im/serenity-js/Lobby?at=5e73f377671a621fe09efb65) on the [Serenity/JS Gitter channel](https://gitter.im/serenity-js/Lobby)

With Serenity/JS 2.0 you can tag your Cucumber feature files with any arbitrary tags you wish and you can also link from your test reports to [Jira and other issue trackers ](https://serenity-j

[2020-03-20 07:13] abhinaba1080 commented on #362
Hi @jan-molak ,

It is really sad that we can't take the screenshot of each step in a Non-Screenplay pattern. Can we put that for enhancement?

Come back to the actual issue. Can I configure a custom message in Check.whether? "Inspector ensures that 'failed' does equal 'failed'" may not be an appropriate message to show.

![image](https://user-images.githubusercontent.com/23141842/77143168-6f25800

[2020-03-20 07:24] abhinaba1080 commented on #33
@jan-molak Does this work for Non-Screenplay scenarios as well?

[2020-03-23 10:08] abhinaba-ghosh opened #509 "Log.the should pretty-print JSON objects"

[2020-03-23 11:21] abhinaba-ghosh opened #510 "Error: using tsconfig-paths with serenity v2"
Hi @jan-molak

I am using tsconfig-paths to make use of relative paths in the import statements. Natively cucumber supports it and I am successfully using it in my non-screenplay protractor serenity setup. But while using the screenplay mechanism I am getting below error:

[code]

my setup file:

[code]

and my require statements are confined in a cucumber profile file:

[code]

[2020-03-23 17:23] abhinaba-ghosh opened #511 "Need support naively to get statusText querying LastResponse"
Hi @jan-molak ,

It would be nice if we can add another static method to get the statusText from the LastResponse.
Example if a response consists "401, Invalid session token", statusText should return "Invalid session token"

[2020-03-23 17:47] abhinaba1080 opened #512 "Need help to understand Ensure assertions better for REST API testing"
Hi @jan-molak ,

I am using the following assertion :

Question 1:

[code]
and also tried:

[code]

But getting the error like:

[code]

Question 2:

I am having a response body like:

[code]

and my action is like:

[code]
I am getting error message like:

[code]
Currently, I am handing this very situation with Transform like:

[code]

But we should have a deep equals logic.

Can we have some rea

[2020-03-24 21:46] jan-molak commented on #510
Hey @abhinaba1080! I haven't worked with `tsconfig-paths` so am not sure what magic they use under the hood and how it would affect other modules. I use [barrels](https://basarat.gitbook.io/typescript/main-1/barrel) instead.

Does your setup work without the `tsconfig-paths` module? If so, would it also work with the [TS-native `paths`](https://www.typescriptlang.org/docs/handbook/module-resolutio

[2020-03-24 21:59] jan-molak commented on #511
Hey @abhinaba1080!

Sure; I don't typically assert on `statusText` since it's rather unlikely that the server would return something like say `200, Not found` 🤔

Having said that, we could add it for completeness since axios itself [gives us access to it](https://github.com/axios/axios/blob/5189afff38dc0689ac0c1b1bfa51626bb8541709/index.d.ts#L76-L83).

How would you feel about raising a PR?

[2020-03-24 22:00] jan-molak commented on #509
Hey @abhinaba1080 could you please provide a sample of what you're getting and what you'd expect?

[2020-03-24 22:16] jan-molak commented on #512
Hey @abhinaba1080!

[`contain`](https://serenity-js.org/modules/assertions/file/src/expectations/contain.ts.html) is used to check if a _list_ contains an item, for example:

[code]

or with objects:
[code]

Now, `LastResponse.body()` returns the body of the last response, so if your server returned JSON, axios will [turn it into a JSON object automatically](https://github.com/axios/axios/blob/664

[2020-03-25 05:21] abhinaba1080 commented on #512
Hey @jan-molak . Thanks for the clarification. But I was looking for some deep-equal/deep-contains mechanism.

If I get the response from API endpoint like:

[code]
is there a way to just check this reponse contains text as "Jan" or not querying the LastResponse?

[2020-03-25 05:23] abhinaba1080 commented on #509
I mean currently Log.the(LastResponse.body()) prints stringified JSON response in the console. Is there a way to print the message like a JSON structure in the console?

[2020-03-25 06:53] abhinaba-ghosh opened #513 "Clarification about reporting in Non-Screenplay scenarios"
Hi @jan-molak ,

It is really sad that we can't take the screenshot of each step in a Non-Screenplay pattern. Can we put that for enhancement?

1. Come back to the actual issue. Can I configure a custom message in Check.whether? "Inspector ensures that 'failed' does equal 'failed'" may not be an appropriate message to show.

![image](https://user-images.githubusercontent.com/23141842/77143168-6f25

[2020-03-25 17:49] jan-molak commented on #512
Well, the response is not a string of text, though, it's a JSON object so it's best to treat it as such.

While it's technically possible to map the object back to string and then use a string predicate with it, so:

[code]
I think that this is a _**really, really, really bad idea**_, since it would match things like `Jan`, `January`, `Jannice` and so on (did I mention we should not do it? 😄)

How

[2020-03-25 17:55] jan-molak commented on #509
Ah, I see what you mean. Yeah, at the moment it [prints it as string](https://github.com/serenity-js/serenity-js/blob/986ae29d8f6dd5570955ddc17404dae9fc2abcb3/packages/console-reporter/src/stage/crew/console-reporter/ConsoleReporter.ts#L256), while it should probably [inspect](https://nodejs.org/api/util.html#util_util_inspect_object_options) it.

I think we should do it; I'll add it to the backlo

[2020-03-25 18:02] jan-molak commented on #513
Hey @abhinaba1080 - it looks like 4 different issues in one ticket, could we tackle them separately and close this one, please?

[2020-03-25 18:16] abhinaba1080 commented on #512
Thats It! Thanks.

[2020-03-25 18:16] #512 closed

[2020-03-25 18:17] abhinaba1080 commented on #509
I will look into the backlogs from next week. Will connect to you.

[2020-03-26 05:58] abhinaba1080 commented on #362
Hey @jan-molak .

if we set the stage as suggested in the description of this issue, we get a message like:

[code]

Can you please update the description area of this issue with correct setting stage codes?

Screenshots in each step are highly required.  It was working fine in Serenity 1.x in Non-Screenplay scenarios. Is there any workaround to get it solved?

[2020-03-26 06:07] abhinaba-ghosh opened #515 "Non Screenplay terminal should show step status (passed tick / failed cross) in the terminal"
Hi @jan-molak ,

I am not getting real time status of the executed tests in the console. I am using serenity with the non-screenplay pattern.

My config file says:

[code]

The real-time console output I am getting:

![image](https://user-images.githubusercontent.com/23141842/77615697-f9ad2a00-6f55-11ea-9c78-2f4d24c9665a.png)

You can clearly see that although all steps are getting passed, I am no

[2020-03-26 07:23] abhinaba1080 commented on #101
@emosGambler @jan-molak

I think this is finding dificulties to work with serenity V2. It does identify how many tests failed but do not identify which tests got failed. So, it re-run all the scenarios. Do you have a workaround?

My command:

[code]

The output I am getting:

[code]

[2020-03-26 12:09] andreasmarkussen commented on #346
@abhinaba1080 what is in your /transform/ folder?

And my cucumber_report.json file is just empty? i.e. 0 bytes.

[2020-03-26 12:23] abhinaba1080 commented on #346
Hi @andreasmarkussen ,

The transform folder is where I keep all of the JS files.
I have tested the logic with both Serenity V1 and V2. It just worked fine.

Can you share your protractor.conf file?

[2020-03-27 00:52] jan-molak commented on #362
Hey @abhinaba1080 - good call about updating the description, I've just done it.

Now to answer your other question.

In both Serenity/JS 1.x and 2.x, Cucumber steps are [reported the same way as `Tasks`](https://github.com/serenity-js/serenity-js/blob/master/packages/cucumber/src/notifier/Notifier.ts#L69-L81).

However, there's an important difference between Serenity/JS 1.x and 2.x.

In 1.x a `P

[2020-03-27 01:05] jan-molak commented on #515
Hey @abhinaba1080, so that's an interesting one.

If you look at how the [`@serenity-js/console-reporter`](https://github.com/serenity-js/serenity-js/blob/986ae29d8f6dd5570955ddc17404dae9fc2abcb3/packages/console-reporter/src/stage/crew/console-reporter/ConsoleReporter.ts#L203) works, you'll see that it prints the name of the task when the task starts, and the name of the interaction together with

[2020-03-27 20:27] andreasmarkussen commented on #346
protractor.conf.js

[code]

[2020-03-30 06:08] abhinaba1080 commented on #493
Yes. I just like to withdraw my opinion on WebDriverIO. I have gone through the version 6 release. Looks really promising.

[2020-03-30 14:20] ctaepper opened #517 "Not able to set protractor timeout for navigation"
[Here](https://github.com/serenity-js/serenity-js/blob/master/packages/protractor/src/screenplay/abilities/BrowseTheWeb.ts#L82) is an option to set `timeoutInMillis` for protractors' `browser.get` method. However using the higher level [interaction](https://github.com/serenity-js/serenity-js/blob/master/packages/protractor/src/screenplay/interactions/Navigate.ts#L16) I cannot set this timeout unfo

[2020-03-30 15:34] mtahat opened #518 "E/launcher - Error: TypeError: Cannot read property 'children' of undefined , Causing Report to generate empty results!"
Hello @jan-molak I am using Serenity-js with Cucumber, protractor & typescript ( see dependencies below) , I also have a hook.js that cleans the locale storage session after each feature/scenario. (see below).

**I start getting Empty Reports after failed runs**, I noticed this issue happen when the test timeout durning the execution ( for example the task code has wait.upto(Durations.seconds(60),

[2020-03-30 18:24] jan-molak commented on #518
Hey @mtahat and thanks for the detailed report!

This looks like a synchronisation issue that typically happens if the cucumber step does not return the `Promise` from the actor flow.

For example, the below sample would cause a synchronisation issue:
[code]

While both the below samples would work correctly:
[code]

[code]

Could you please have a look at your cucumber steps implementation and ch

[2020-03-30 18:28] jan-molak commented on #517
Ha, well spotted! Thanks :-)

I'll add it to [the backlog](https://github.com/orgs/serenity-js/projects); in the meantime, if anyone would like to take a stab at a PR I'd be happy to review those as well.

I think the following API could do the trick.

[code]

[2020-03-30 20:12] mtahat commented on #518
@jan-molak  Thank for your suggestion.
looks like my steps already use the one liner fat arrow functions with no curly brackets.
I am passing two args for this function and then use them in the tasks.
Here is the code snippet.. Any thoughts?

**Step file:**
`When(/(?:he|she|user) hovers over (.*) and clicks (.*)/, (arg1: string, arg2: string) =>
    actorInTheSpotlight().attemptsTo(
        UseTop

[2020-03-30 23:29] jan-molak commented on #518
Could you please add a [StreamReporter](https://serenity-js.org/modules/core/class/src/stage/crew/stream-reporter/StreamReporter.ts~StreamReporter.html) to your `crew` and paste the `events.ndjson` log it has created when the issue happened, please?

[code]

[2020-03-30 23:43] mtahat commented on #518
@jan-molak  Yes, our website is so slow! some of the wait statements goes up to 1 minute!
so it might be the reason that I am seeing this issue. I wonder is there anyway to set the time out for cucumber step from config file? can I use the protractor.config --> CucumberOption to set this?

I will also add the Stream reporter to my config file and run again.
Thanks for the suggestions.

[2020-03-31 02:05] mtahat commented on #518
@jan-molak  I tried to increase the cucumber timeout as suggested, I added
The followings to my Protractor.config, also I added timeout.js to my support folder to increase the cucumber default step timeout.. Although I am still seeing the same issue see the events.ndjson attached below.. Any help will be appreciated.

**Protractor.config**
[code]

**timeout.ts**
[code]

Here is the output of my St

[2020-04-01 21:19] jan-molak commented on #518
Thanks, @mtahat, based on the events log, it definitely looks like a synchronisation problem.

If you analyse the event log you'll see:
[code]
So this corresponds to this sequence of tasks:
[code]
But then I see an end of the following task, instead of the end of the wait interaction I'd expect:
[code]

So it feels like whatever wraps the wait of 15 seconds does not have a sufficient timeout.

I'd

[2020-04-01 22:31] mtahat commented on #518
Yup I agree..it is indeed sync issue! I pumped up the cucumber time out and it seemed to be more stable. I am considering integrating a service virtualization tool (hoverfly) to eliminate some of the flakiness in the backend.

I will add an actor who can send API calls and see how stable the service even before running the test..

Again, Thank you so much for your quick responses! I am closing thi

[2020-04-01 22:31] #518 closed

[2020-04-04 16:25] abhinaba1080 opened #524 "Need a fallback mode for terminals that don't support utf8 (not sure if it can be detected)"
Hi @jan-molak ,

Currently Jenkins terminal is not showing ticks and characters properly. Even happy colour (green) is not appearing in the terminal.

[2020-04-13 10:28] DanteWitcher opened #530 "Generate empty report after error"
It happens not constantly, when go through test, if I get error types like this (Linux):

![image](https://user-images.githubusercontent.com/17080180/79113765-4ed8a080-7d8a-11ea-90f7-7996960236a8.png)

then will be generated empty report:

![image](https://user-images.githubusercontent.com/17080180/79113841-7465aa00-7d8a-11ea-8915-31ae0c9c5008.png)

mb you have some ideas why it happens?

    "@se

[2020-04-13 10:43] jan-molak commented on #530
Hey @DanteWitcher, the only issue I'm aware of that would be causing this is when you forget to return the result of actor.attemptsTo in a cucumber step. Since this method returns a promise, if said promise is not returned, Cucumber gets out of sync with Serenity.

Hope this helps!
Jan

[2020-04-13 10:52] DanteWitcher commented on #530
@jan-molak ok, thanks for quick answer, I recheck all

[2020-04-13 10:53] #530 closed

[2020-04-14 18:34] mtahat opened #532 "Photographer doesn't capture screenshots if an alert dialog is open"
Hello @jan-molak I am using Serenity-js with Cucumber, protractor & typescript ( see dependencies below) .

**One of my test cases start showing Chrome Alert**,
![image](https://user-images.githubusercontent.com/45109004/79259527-7b57ef80-7e52-11ea-8d00-e826e69105d2.png)

I was able to by pass the alert by this interaction ( thank's to one of your posts)
![image](https://user-images.githubusercont

[2020-04-15 16:57] jan-molak commented on #532
Hey @mtahat - good catch, I haven't considered how the photographer would interact with JavaScript alerts yet. Based on your experience, it looks like it doesn't like them. Sorry about that.

The easiest way to work around this would be to take screenshots only upon failures, so:
[code]

[2020-04-16 17:16] abhinaba-ghosh commented on #482
Hi @jan-molak ,
I was trying stuff out with Axios-mock-adapter. I am getting below error:

[code]

My Actors are implemented like below:

[code]

Can you guide me here?

[2020-04-17 07:00] abhinaba-ghosh commented on #482
Hey just analyzed that if I removed SerenityBDDReporter from the crew, everything works fine.

[2020-04-24 19:28] brabenetz commented on #189
FYI,
Thanks, it works fine on my Project (it only took me a while to upgrade from serenity-js 1 ot 2).

But my first touch with the new feature did not work that well.
I tried to adapt the serenity-js demo-app: https://github.com/serenity-js/serenity-js-jasmine-protractor-template
 1. features/super_calculator.feature: Add Annotation "@issue:189"
 2. package.json: "test:report": "serenity-bdd run

[2020-04-27 00:14] jan-molak commented on #189
Glad you managed to sort it out @brabenetz, thanks for letting me know!

[2020-04-27 21:35] camillomurcia opened #547 "Serenity session variable usage"
Hello team, I hope you are well, I want to know what the uspo is like or if there is a way to store session variables and then use them later to perform some validation in the front

Thank you very much, and excellent work with serenity / js.

[2020-04-28 01:13] nbarrett opened #549 "Error: Cannot parse given Error object"
Hey @jan-molak! Having some good success migrating my 1.x project with the assistance of the excellent new handbook: [Upgrading to Serenity/JS 2.0](https://serenity-js.org/handbook/integration/upgrading-to-serenity-js-2.html#upgrading-to-serenity-js-2-0) 😄

One thing that's cropped up that I think might be a bug is an exception that's thrown `Error: Cannot parse given Error object` at `.Object.Err

[2020-04-28 06:11] wallybb000 opened #550 ""JavaScript heap out of memory" when continuously running too many scenarios"
I encountered the problem when migrating to 2.0.

After tracing code in Serenity/console-reporter,
I found that [ActivityRelatedArtifacts ](https://github.com/serenity-js/serenity-js/blob/master/packages/console-reporter/src/stage/crew/console-reporter/ConsoleReporter.ts#L409)recorded too many Artifact data when continuously running those scenarios, and those data would not be delete after each sc

[2020-04-28 16:09] andreasmarkussen opened #551 "Upgrade to Protractor 6 - gives compilation errors"
I know that this is premature, but anyways, just wanted to share my findings when using protractor 6.0.0 with serenity 2.3.4.

[code]

And yes - protractor has not been released in a stable version yet.

[2020-04-28 20:25] jan-molak commented on #551
Yeah, Protractor 6.0.0 [relies on Selenium 4 alpha](https://github.com/angular/protractor/blob/4bc80d1a459542d883ea9200e4e1f48d265d0fda/package.json#L21), which I don't feel comfortable relying on until it becomes more stable. We'll also need the Angular team to address issues with type definitions, see angular/protractor#5192

[2020-04-28 20:35] jan-molak commented on #549
That's interesting, would you be able to publish a mini-project to Github that demonstrates this issue so I could try to reproduce it? Also, it might be useful to add [`StreamReporter`](https://serenity-js.org/modules/core/class/src/stage/crew/stream-reporter/StreamReporter.ts~StreamReporter.html) to your stage crew to see if it tells us more about that error.

It seems to me that something somewh

[2020-04-28 20:38] jan-molak commented on #547
Hey @camillomurcia and thanks for your kind words!

It sounds like you might be after the ability to [`TakeNotes`](https://serenity-js.org/modules/core/class/src/screenplay/abilities/TakeNotes.ts~TakeNotes.html).

Let me know if that helps!

Jan

[2020-04-28 20:41] jan-molak commented on #550
Yeah, it looks like that bit of code might be using too much memory. That's a nice catch, thanks @wallybb000! Could you please tell me a bit more about what you mean by continuously running scenarios? How exactly do you run them?

[2020-04-28 22:49] camillomurcia commented on #547
Or if I mean this, that the actor can remember something later in the test!

I have already implemented it.

Thank you

[2020-04-28 23:58] jan-molak commented on #547
Cool, happy to have helped! 😄

[2020-04-28 23:58] #547 closed

[2020-04-29 21:57] camillomurcia opened #552 "Tasks not running in jasmine, why error?"
Hello, I am here again but now it is with jasmine, what happens is that when it runs it feels like this:

[code]

With the following task:

[code]
When executing the browser, it starts, goes to the url and closes instantly and does not execute the task, this appears in the log:
[code]
Change how to run like this:

[code]
And it runs correctly, but it's normal that because it has `function () {}`,

[2020-04-30 21:16] #552 closed

[2020-05-01 07:57] sowmya-ingin commented on #126
Hi Jan,

I need to apply this in application to test whether my password field values are masked or not please help me to write in serenity typescript>>>

regards,sowmya

[2020-05-01 08:17] nbarrett commented on #549
Hi Again @jan - I did manage to diagnose the problem and fix it as it was actually in my own code but I thought I'd give you a reproducible example anyway as I think this might still be a bug. It happens when a rejected promise is returned by a task for instance have a look [here](https://github.com/nbarrett/serenity-js/tree/issue_549_example)

[2020-05-01 21:05] jan-molak commented on #549
Ah right, I see, so the issue is when custom code throws stuff that's not an `Error`. Well, it shouldn't be doing that :-) But yeah, it might be good from dev experience perspective if Serenity/JS caught things like that. Thanks!

[2020-05-01 23:52] jan-molak commented on #552
Glad you managed to sort it out, @camillomurcia!

For anyone who comes across this ticket in the future, remember the [difference](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions#Function_body) between JavaScript functions with "concise body" and "block body".

## Concise body, no `return` statement needed
[code]

## Block body, `return` statement is req

[2020-05-02 02:29] #517 closed

[2020-05-02 02:29] #509 closed

[2020-05-03 15:03] bedirhandev opened #554 "Support for Flutter"
Serenity is great but only limited for Javascript at the moment. Are there plannings to support Flutter (Dart) in the near future? I am looking forward to this because testing gets really important nowadays and it lacks a lot in other languages.

[2020-05-03 15:06] #554 closed

[2020-05-07 09:06] gokul10cs12 opened #562 "Defining a global actor"
hi @jan-molak  , I'm a newbie to serenity-js.
 I have a doubt and an issue.

[code]
Whenever I define a global actor and run a test, the report could not capture the screenshot of the failure case. (Yes I configured the screenshot capture condition in protractoconf.js). Hope you would suggest a possible solution to the issue I'm facing.

[2020-05-10 01:19] jan-molak commented on #562
Hey @gokul10cs12!

Have a look at the example test in the [`serenity-js-jasmine-protractor-template`](https://github.com/serenity-js/serenity-js-jasmine-protractor-template/blob/master/spec/example.spec.ts) project.

You'll notice that there is a `beforeEach` call that engages the `Actors` (a class that configures the `Actor` instances for your tests):
[code]
It is important to do this before each

[2020-05-10 11:08] DicksengA opened #563 "Integration with other tools such as playwright, webdriverio"
Was trying to integrate with webdriverio and was looking at the PhotoTakingStrategy class.

[code]

if we change it to AbilityToTakePhoto.as(stage.theActorInTheSpotlight());

[code]

We can easily implement
[code]

Then separate the phototaking into serenity-core.
This would make it easier to integrate with other tools?
Since we can quickly test things out with puppeteer etc.
The actual implementa

[2020-05-11 00:42] jan-molak commented on #563
Hi @DicksengA!

As a result of the conversation at #493 I started to experiment with integrating Serenity/JS with WebdriverIO and Puppeteer. Check out the [E2E suite](https://github.com/jan-molak/authenticator-browser-extension/tree/55fa8b505f2ba6dcd7cf96dd22304765e31e1f99/e2e) of the [`authenticator-browser-extension`](https://github.com/jan-molak/authenticator-browser-extension) project to see t

[2020-05-11 09:17] DicksengA commented on #563
BrowseTheWebWithWebdriverIO i have briefly written this part.
I find the biggest difficulty is how tight the integration should be.
Separating the runner from the tool will be easier, so you can run webdriverio/cypress/puppeteer/playwright with serenityjs-cucumber, serenityjs-jasmine

[2020-05-11 18:16] Manishrn opened #564 "Is it possible to store value of text in variable using Text.of(Target)"
Hi @jan-molak

I am trying to get the text value using Text.Of, when I try to log the value on console it throws ✗ TypeError: Cannot read property 'toString' of undefined error.

Could you please help me with this ?

Regards,
Manish

[2020-05-12 01:06] jan-molak commented on #564
Sure, could you please provide an example of how you try to do it that results in an error?

[2020-05-12 04:30] Manishrn commented on #564
Hi @jan-molak

Thank you for reply,

below is the code :
var text = Text.of(element)
        return actor.attemptsTo(
            console.log(text)
        );

Regards,
Manish

[2020-05-12 20:39] jan-molak commented on #564
Gotcha, the first thing you'll need is an interaction to [`Log`](https://serenity-js.org/modules/core/class/src/screenplay/interactions/Log.ts~Log.html). This is how you can log a given value or an answer to a [`Question`](https://serenity-js.org/modules/core/class/src/screenplay/Question.ts~Question.html) logged to both the terminal and the HTML report.

[code]

Now, since everything in Serenity/

[2020-05-13 18:54] Manishrn commented on #564
Hi @jan-molak

Thank you for response,
I want to implement second aaproach which you mentioned, where I want to store text value  of an element and compare it in if so that depending on the condition it will do necessary actions.

return actor.whoCan(
                    BrowseTheWeb.using(protractor.browser),
                    TakeNotes.usingAnEmptyNotepad()
);
as in above code actor has abilit

[2020-05-13 20:54] jan-molak commented on #564
Hey @Manishrn,

Please check out the [API docs](https://serenity-js.org/modules/core/class/src/screenplay/abilities/TakeNotes.ts~TakeNotes.html) I've linked earlier.

[code]

The interaction to `TakeNote.of(Text.of(Vouchers.code))` makes the actor remember the value of `Text.of(Vouchers.code)`, and the question about `Note.of(Text.of(Vouchers.code))` retrieves that remembered value.

To see how th

[2020-05-14 03:10] aksbenz commented on #346
@jan-molak : Hello,
Based on you previous guidelines, I wrote a custom JUnitReporter, but facing 2 issues:

1. There is no XML or Generic Text file Artifact available.
2. Report file is not created, I believe because ArtifactArchiver only handles Photo or TestReport Artifact. Unable to pass a generic artifact to write to file.

I create another artifact like:
[code]
Then I do a broadcast like this

[2020-05-14 05:27] Manishrn commented on #564
Hi @jan-molak ,

Yes, document helpled me to understand how TakeNote works, I tried the same yesterday.
However scenario I am trying to achive here is bit different.
I want to pass the month value from steps, so that in Task when I match that value with the value which I am getting from UI it should stop else it should do something.

**Steps **

When(/^(?:he|she|they) select the "([^"]*)" month$/,

[2020-05-14 10:45] jan-molak commented on #346
@aksbenz - If you'd like to raise a PR we could work on it together?

[2020-05-14 11:00] jan-molak commented on #564
Right, the issue is in the task implementation.

The construct `TakeNote.of(Text.of(CalendarControls.txtMonth))` creates an instance of an `Interaction` that has to be given to an actor to perform.

For example, this works:
[code]

This won't work:
[code]

For the same, this won't work either:
[code]

What you need in your case is a [conditional statement](https://serenity-js.org/modules/assertion

[2020-05-14 15:19] Manishrn commented on #564
@jan-molak

Works like a charm :) .
Its always a new learning whenever I interact with you, Thanks a ton !!!!

One more query I have here is, is it possible to repeat a particular Task in loop or is there any conditioning available which will repeat the Task until it reaches to a particular break condition.

Regards,
Manish

[2020-05-14 15:32] jan-molak commented on #564
Excellent, I'm glad it helped!

There's nothing built-in to support loops (yet!), but please feel free to raise a ticket to request it.
If you could also provide an example in that new ticket that shows how you'd like to use it that would be grand.

Best,
Jan

[2020-05-14 15:32] #564 closed

[2020-05-15 05:04] aksbenz commented on #346
@jan-molak : Not experienced with open source projects. I am not sure how to go about creating another junit reporter package in serenity.

My Junit reporter looks like this:
https://github.com/aksbenz/serenityjs-playwright-jasmine-junit/blob/master/src/JUnitReporter.ts

Created a copy of ArtifactArchiver with XMLData:
https://github.com/aksbenz/serenityjs-playwright-jasmine-junit/blob/master/src/

[2020-05-19 04:29] aksbenz commented on #346
Please check pr for initial steps towards junit reporter. Thanks.
https://github.com/serenity-js/serenity-js/pull/571

[2020-05-19 15:38] Ijee opened #572 "Request to get the 'Select' interaction back"
As it currently stands the Select.the(...) functionality has been removed since 2.0 of Serenity-JS but is still really useful.

It can still be found in the 1.x branch [here](https://github.com/serenity-js/serenity-js/blob/1.x/packages/serenity-js/src/serenity-protractor/screenplay/interactions/select.ts) and with some typing changes can still be used as it would have been in 1.x.

@jan-molak ment

[2020-05-21 06:27] gokul10cs12 commented on #562
Thank you @jan-molak . It was helpful.

Regards,
Gokul

[2020-05-22 15:55] juanmura opened #579 "It is possible to have @manual passing?"
Hi @jan-molak, It is possible to have a scenario marked with the @manual tag, in the report it is shown as what happened and it is not shown pending.

In the serenityBook: https://serenity-bdd.github.io/theserenitybook/latest/manual-tests.html, shows how to do it but I don't know if @Manual_result: pass or something similar can be implemented with Serenity/JS

[2020-05-25 16:16] DicksengA commented on #563
Hi @jan-molak  i have tried to do a simple integration with puppeteer by creating 3 modules.

Photographer:
Tool will implement Takescreenshots.
An interface for photographer to get the AbilityForScreenshots

ToolManager
Interface ManagedTool for tool to define how to create and destroy tool (can be puppeteer,cypress, winappdriver etc)
Manages lifecycle of tool used by Implementing stagecrew
Destr

[2020-05-28 07:08] skotti-de commented on #572
I agree, having the interaction back would be quite nice.

[2020-05-28 07:53] nbarrett commented on #572
Maybe I can try and rebase [PR #373](https://github.com/serenity-js/serenity-js/pull/373) and then implement the vocabulary that @jan-molak suggested [here](https://github.com/serenity-js/serenity-js/pull/373#issuecomment-584591531)?

[2020-05-28 12:43] jacquecosta opened #582 "Question about screenshots on serenity report"
Looking at the report generated on [template's project for protractor and cucumber](https://github.com/serenity-js/serenity-js-cucumber-protractor-template), I have noticed this behaviour:

- Following the screenshots's trail I had this result:

Resuming, after step 6 you have more details about step 3. So, the details of a scenario turns a bit confuse when 'read' only by the screenshots.

- While

[2020-05-28 20:44] jan-molak commented on #572
Thanks @nbarrett, that would be great :-)

[2020-05-28 21:55] auxmedrano commented on #161
this is exactly what I'm struggling, I need to hide a step in the report because it sends sensitive data in a request  for authorization, hope there is an update, in the meantime I will try to do a workaround.

thanks you all for your efforts.

[2020-05-31 00:42] jan-molak commented on #582
Thanks @jacquecosta, you're right, screenshots in the slideshow view seem to be out of order. @wakaleo and I will investigate this.

[2020-05-31 00:43] #551 closed

[2020-06-01 15:55] abhinaba-ghosh opened #586 "add support for storing the answer under a custom string"
Hi,

It would be nice to have support for storing the answer in a custom string and reusing it at any given time in the process.

[code]

[2020-06-02 22:46] #582 closed

[2020-06-02 23:01] jan-molak commented on #582
Hey @jacquecosta - this issue is now fixed in `@serenity-js/serenity-bdd` v `2.8.1`. Thanks for reporting it!

[2020-06-02 23:38] jan-molak commented on #161
Hey guys, so I've been thinking about it some more.

I agree that showing sensitive information in the report is not a great idea, but don't think that hiding the entire step solves the problem either as it might negatively affect the debuggability of the test - in particular, what should happen if there's an error in the step we're hiding? Do we report it? Do we not report it? And so on.

So I wo

[2020-06-03 00:35] nbarrett commented on #161
Thanks @jan-molak for not giving up on this one and coming up with great suggestions as always. I have a couple of points on this:
- I think choosing to hide a step is a very different requirement to hiding sensitive information such as a password, so they should be treated differently. I like the idea of having a wrapper for this that can be applied to `Enter` Tasks, so that's a 👍 from me.  Howev

[2020-06-05 20:30] rodrigo-costa-sofist opened #590 "Serenity 2x - When there are some feature files commented in the whole project, after test execution, the report is not generated"
Serenity version: 2.6.0
Node: v12.16.1
npm: 6.13.4
cucumber: 6.0.5
serenity-js/serenity-bdd: 2.8.1

When you have a project using serenity with cucuber and you have many feature files, if you comment one or more feature files (the whole file), when you run all the tests, the jsons for the feature files not commented are generated, however, the report is not generated, and the following error is pr

[2020-06-06 17:31] jan-molak commented on #590
Hi @rodrigo-costa-sofist - I've just tried that but am not able to reproduce the issue.

Could you please try to create a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) using the [Serenity/JS Cucumber template project](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) and publish it to Github?

Thanks!
Jan

[2020-06-06 17:32] #562 closed

[2020-06-09 09:08] cmurczek commented on #359
Hi @jan-molak, this is a great idea as the installation of serenity-js is a bit cumbersome due to the amount of moving parts. I'll create a [PR](#591 ) starting with a default configuration of cucumber/protractor, since this is the configuration we most often use.

[2020-06-09 13:03] jan-molak opened #594 "Introduce a single configuration file for all things Serenity/JS"
It might be useful to introduce a way to configure all Serenity/JS modules in one place.

The config file could look as follows:
[code]

[2020-06-09 13:49] Ijee commented on #594
This is something I'd seriously like to see as adding more into the protractor config would just clutter it even more.

Would you try to patch the protractor config with the necessary information that are still required for it to work during runtime or would we still need to put at least some things in the protractor config file?

This would probably also advance #493  at least in some parts.

[2020-06-09 19:59] jan-molak commented on #594
That's a good question, I'm not sure yet. It _feels_ cleaner to keep protractor config in `protractor.conf.js` and Serenity/JS-specific stuff in a separate file. Plus, Protractor is still responsible for spawning and managing the browser so we can't extract say `capabilities` or `selenium` config from `protractor.conf.js` and put it in S/JS config file.

I think the same logic would apply to the i

[2020-06-15 09:41] TKlauenberg opened #597 "serenity-bdd long context value"
tldr: the context value of a test is too long when using serenity-bdd report

I am using cucumber-js and protractor and the problem is shown like this:

I have a Scenario Outline with 4 examples and for these 4 examples the serenity-bdd reporter generates one report. But in the context value, the browser and platform is added 4 times. So in my example it is "chrome,windows,chrome,windows,chrome,wi

[2020-06-15 14:28] jan-molak commented on #597
Hey @TKlauenberg this doesn't sound right. Would you be able to provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) based on [Serenity/JS Protractor Cucumber template](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) so that I could try to reproduce the issue?

[2020-06-15 20:36] TKlauenberg commented on #597
Hey @jan-molak thank you very much for the help. The `--shortFilenames` option did resolve the problem. Anyway I have [created a repository ](https://github.com/TKlauenberg/serenity-protractor-cucumber)where you can see this behaviour. The Problem seems to be a very long scenario name in Gherkin and multiple examples in a "Scenario Outline" test.

As far as my understanding of the code base is, th

[2020-06-15 23:22] #597 closed

[2020-06-15 23:46] jan-molak commented on #597
Hey @TKlauenberg and thanks for helping me to reproduce the issue. It has been addressed in version 2.10.3.

[2020-06-16 05:16] TKlauenberg commented on #597
Hey @jan-molak thank you that fixes the error 👍

[2020-06-19 02:15] puddles-1 opened #598 "Question on changed Target.of functionality"
I'm currently upgrading from serenity-js 1.x to serenity-js 2.0 and the tests I have heavily use the old target.of functionality of being able to replace tokens such as "{0}", I'm wondering why this was changed and if there is any plans to reintroduce this or should i be trying to rewrite my tests another way. This is an example of what i was using before and I would like some advice how best to r

[2020-06-19 06:35] Ijee opened #599 "Option to Suppress Interactions Within a non-failing Step"
For my tests I have quite a lot of steps that require a few more interactions than what it actually does.

As I can currently can not use the protractor synchronization for Serenity-JS I have a lot of explicit waits that only clutter the console and are not really important for the report or the console **unless
they are failing**. It only clutters the console and does not add a lot of value for m

[2020-06-19 07:13] Ijee commented on #594
True. It was just something I threw in without thinking about it a little more.

[2020-06-19 10:33] jan-molak commented on #598
Hi @puddles-1 and thanks for staying up to date with the framework!

The `Target.of` API in Serenity/JS v. 2 is an improvement on version 1 as it allows you to locate elements in relation to other elements as opposed to merely doing a string replacement (see the [specs](https://github.com/serenity-js/serenity-js/blob/master/packages/protractor/spec/screenplay/questions/Target.spec.ts)).

For examp

[2020-06-19 20:07] jan-molak commented on #599
Hey @Ijee this sounds reasonable. Let's walk through some examples.

Let's say we had the following task structure:
[code]

One way we could achieve what you're after is by configuring `ConsoleReporter` to print all the `Task`s, but buffer `Interaction`s.

So if we had no errors in the scenario, we'd see:

[code]

But if we had an error with when, say, entering the `CVV` we'd see:

[code]

Is that

[2020-06-20 00:13] #101 closed

[2020-06-20 00:13] #598 closed

[2020-06-22 00:11] puddles-1 commented on #598
Hi Jan,
Thanks for the prompt answer. This is very helpful and will get me going again.

Cheers

[2020-06-22 07:48] Manishrn opened #600 "How to retain two different values of same target element before and after state change"
Hi @jan-molak

I am trying to validate a table row, The values I need to validate is before and after sorting of perticular column in the row.
The change in the values which needs to be validated are on same Target element (on the same row).
With the help of TakeNote.of and Note.of implemetation I am able to remember/get the text values. However when I sort the table the and get the text values ag

[2020-06-23 00:38] jan-molak commented on #600
Hey @Manishrn,

Do you need to store _both_ values? Or could you just store the first one and then read the new value when performing the assertion? Check out [this example](https://serenity-js.org/modules/core/class/src/screenplay/questions/Note.ts~Note.html).

If for some reason you have to retain both values, then you'd need #586

Hope this helps,
Jan

[2020-06-23 06:23] Ijee commented on #599
Yes, that's exactly what I had in mind. I just mixed task and interaction. In the report it should of course still be viewable what exactly happened for that scenario.

[2020-06-23 06:34] Ijee opened #603 "Potential bug with Text.ofAll()"
As I mentioned on gitter currently Text.ofAll() does not return an array when your target points towards a select and you want to get the option text. Instead it will return a string that contains new line breaks as \n.

[code]

Here text.ofAll(Target.the('Category select').located(by.css('html &gt; select')); would currently only return

`Feature\nBug\n` as the actual value as a string on the sit

[2020-06-23 10:26] Ijee commented on #603
I haven't 100% confirmed it yet but Text.of() also seems to not get the actual selected visible text from a target that points to a select.

[2020-06-23 16:36] Manishrn commented on #600
Hi @jan-molak

Your suggested approach worked. Thank you :)
It would be really nice once #586 ready.

Regards,
Manish

[2020-06-23 20:10] jan-molak commented on #600
Cool, thanks for letting me know! Please feel free to upvote #586

Best,
Jan

[2020-06-23 20:10] #600 closed

[2020-06-24 21:40] lucieneven opened #604 "removed '--disable-extensions' still not load any extension when running the automation test"
Hello,

I was wondering how I can load Chrome extension when running automation test. Before that, I assure that those extension was loaded normally when launch the incognito Chrome manually. However, like said, even I removed the lines of '--disable-extensions' from goog:chromeOptions of protractor.conf.js, but still no extension loaded when running the test.

'goog:chromeOptions': {

[2020-06-25 07:17] Ijee commented on #604
I think the problem is that you have to explicitly allow an extension to be used with the incognito mode. If not it will not be used during your test.

[2020-06-26 21:09] jan-molak commented on #604
Hi @lucieneven!

There are three things you need to know about Chrome and extensions:
- The default extensions from your regular profile won't be loaded in the incognito mode, so you need to explicitly specify what extensions you want for your tests (which is a good thing since you want your tests to yield reproducible results)
- If you want to use extensions with non-headless Chrome, you need to

[2020-06-26 21:09] #604 closed

[2020-06-26 21:24] jan-molak commented on #603
Hi @Ijee,

Thanks for providing a test case!

Given a HTML snippet like in the example above:
[code]
and the question:
[code]
what you're effectively saying is "give me text of all the `select` elements".

However, because there's only one `select` element, you're being given the text that element contains, which is the visible text of all its nested elements - so `h1` and `option`s.

Could you tr

[2020-06-26 21:33] jan-molak commented on #590
Hi @rodrigo-costa-sofist - I wasn't able to reproduce this issue and since it's been a while since you've reported it, I'm assuming that you managed to sort it out so will close this ticket. Please feel free to reopen this ticket if you spot this issue again.

[2020-06-26 21:33] #590 closed

[2020-06-29 11:39] AbhineetSharmax opened #605 "Retry Failed Test with Protractor Flake"
Hi @jan-molak, Greetings!

Its being a long since i have started working with Serenity JS, which really helped us achieve the best results into test automation. Thanks again.

Now, i am trying my hands with Protractor Flake with serenity framework. I saw many posts.. even here with the configurations to retest the failed scenarios.

When i run the test with protractor flake  it do gives me the fai

[2020-07-03 13:36] Ijee commented on #603
So the thing is.
`Text.of(Target.the('Category select').located.(by.css('html > select'));`
returns an array that returns the visible text for all visible options. Whereas I expected that Text.of() to just return the current visible selected option text and `Text.ofAll(Target.the('Category select').located.(by.css('html > select'));` to return an array with all visible option texts.

Hope that mak

[2020-07-03 13:42] nbarrett commented on #603
Hi @Ijee - maybe [this PR](https://github.com/serenity-js/serenity-js/pull/373#issuecomment-650453652) might provide you with more flexibility in getting the exact text you want? Hopefully will be merged soon @jan-molak?

[2020-07-03 14:03] Ijee commented on #603
@nbarrett that really looks like what I was looking for / expected. I like it!

[2020-07-06 01:22] #586 closed

[2020-07-06 20:45] jan-molak commented on #586
This is available in the latest release, check out [the docs](https://serenity-js.org/modules/core/class/src/screenplay/interactions/TakeNote.ts~TakeNote.html) and [unit tests](https://serenity-js.org/modules/core/test-file/spec/screenplay/abilities/TakeNotes.spec.ts.html) for examples.

[2020-07-08 12:57] Grzybekmac commented on #599
I think there is lack of functionality that allows developer to skip all logging to the console except errors. So if you had big number of test and you are running it in console is hard to find what actually is broken.

[2020-07-08 23:42] jan-molak commented on #605
Hi @AbhineetSharmax, welcome back!

Have you looked at the new [`@serenity-js/mocha`](https://serenity-js.org/modules/mocha/) module? It integrates with Mocha 8 which supports [re-running failed scenarios](https://serenity-js.org/modules/mocha/class/src/adapter/MochaConfig.ts~MochaConfig.html#instance-member-retries).

Let me know if that solves your issue!

Thanks,
Jan

[2020-07-11 23:09] ghost opened #611 "Connect to database using serenity JS (postgres)"
Hi,

I'm trying to connect to a postgresql database, by following the instructions in this post
https://github.com/serenity-js/serenity-js/issues/94

However, when I execute the question, I keep getting undefined.
Any ideas what can be wrong?

Here is the Ability
[code]

Here is the Interaction

[code]

Here is the Question
[code]

Here is the usage of the question
[code]

Any ideas on what can be

[2020-07-12 16:14] jan-molak commented on #611
Hey @rodrigo-costa-sofist,

The general structure looks OK, but have a look at the ability:

[code]
I have a feeling that either there's an error somewhere with the connection/statement execution and it's swallowed by InteractWithDatabase, or the `result` is not returned in `then`

Does this help?

Jan

[2020-07-12 17:37] rodrigo-costa-sofist commented on #611
Hello mr @jan-molak , you were totally right!

I had to return the result, and I also console.log() the err statement, so I could see that I was actually not being able to authenticate on the postgres database, due to a wrong parameter.

So, now my connection with the database is working totally right!

I realized that I was using the parameter 'username' when it is 'user' actually.
This is how th

[2020-07-12 22:27] rodrigo-costa-sofist commented on #611
Hi @jan-molak , just one more question... what would be the correct way to end the connection pooling?

Due to, as it is an Ability, when I have to execute more than one sql query, I get this error "Cannot use a pool after calling end on the pool" when I try to end the connection pooling this way:

`typescript
  execute(query: string): PromiseLike<any> {
    return sql.connect().then(() => {

[2020-07-21 12:32] jan-molak commented on #346
**Note to self**: Looks like Gitlab supports [attaching screenshots](https://docs.gitlab.com/ee/ci/junit_test_reports.html) to JUnit reports. Is it a standard, or a Gitlab-specific thing?

[2020-07-24 16:30] abhinaba-ghosh commented on #493
An update for the concerned fellows https://github.com/angular/protractor/issues/5442#issuecomment-663618895

[2020-07-28 03:32] puddles-1 opened #625 "Unable to customize serenity-bdd test report"
I'm looking to add a project title to my tests report and I noticed that the environment arguments that are supported by the serenity cli are not supported by serenity-bdd.  For example I would like to set the argument of `-Dserenity.project.name` to something of my choosing, however serenity-bdd doesn't support this (or the `--project` argument doesn't seem to do what it should).  A solution migh

[2020-07-28 10:39] AbhineetSharmax commented on #605
@jan-molak , Thank you for your help. We somehow managed to run flakes and its running the failed scenarios in a sequence.

[2020-07-28 10:39] #605 closed

[2020-07-28 10:52] AbhineetSharmax opened #626 "Unexpected end of json input and type errors"
Hi @jan-molak , greetings!

Again with some trouble, i am here to seek help. I am unable to figure out, when i give run to protractor in parallel (8 instances), i see 'unexpected end of json input' for the very first features running in the test-suite.

Also, i see it throws, type error:
![IMG_20200728_162038](https://user-images.githubusercontent.com/40024241/88656727-6562f780-d0ee-11ea-9aa7-724f

[2020-07-28 10:54] AbhineetSharmax commented on #626
![IMG_20200728_162038](https://user-images.githubusercontent.com/40024241/88656842-8fb4b500-d0ee-11ea-8096-d8767b37a7a7.jpg)

[2020-07-28 18:48] jan-molak commented on #626
Hi there! Would you be able to create a minimal reproducible example demonstrating the issue?

[2020-08-14 09:11] zuyetawarmatik opened #632 "cucumberOpts.require path causing ☕ImplementationPendingError: Step not implemented"
I was using sucsessfully protractor-cucumber-framework for my Angular E2E before, so in protractor.conf.js, I used to specify the require path like this, which is relative to protractor.conf.js:

[code]

but when coming to @serenity-js/protractor/adapter as framework, I encountered `☕ImplementationPendingError: Step not implemented`, after much headache, I need to fix the path to be relative to th

[2020-08-15 22:08] rodrigo-costa-sofist opened #633 "What is the Proper way to interact with select field?"
Hi!

I have a select field that I have to interact with in my test.
The way that I'm trying to do it is by clicking on the select field, then click on the select option... however, this is not working correctly.

So, I would like to know what is the proper way to interact with it in Serenity JS?

This is the element that I have to do it.

![image](https://user-images.githubusercontent.com/45850178

[2020-08-16 10:58] jan-molak commented on #632
Hi @zuyetawarmatik and welcome to the Serenity/JS community 👋

Based on what I gathered from the ticket, I'm guessing that the folder structure you use looks more or less like this:

[code]

What I'd like to understand is where in this structure are:
- step definition files
- protractor.conf.js
- feature files

I'd also like to understand whether your `protractor` and `cucumber` modules are instal

[2020-08-16 12:06] jan-molak commented on #633
Hi @rodrigo-costa-sofist! @nbarrett is working on adding support for select fields in #373, which should land in `@serenity-js/protractor` soon.

[2020-08-16 12:06] #633 closed

[2020-08-16 12:12] jan-molak commented on #625
Hi @puddles-1! A pull request would be great, thanks!

[2020-08-17 02:38] zuyetawarmatik commented on #632
Hi @jan-molak,

Here is the minimal not-working example of an Angular structure with Serenity E2E test https://github.com/zuyetawarmatik/temp-angular-serenity, note that it's doesn't touch the Angular part (just for minimality). To run, use `npm run e2e`.

To make it running, as I mentioned, in protractor.conf.js, you either change cucumberOpts.require to `e2e/src/specs/**/*.spec.ts` instead of `s

[2020-08-18 13:11] ghost opened #634 "[bug] - When navigates to a url which has #, the image is not generated on the report"
Hi,

I'm using serenity-js 2.14 and I have to navigate to a URL which has # in its name. (e.g. www.urlexample.com/#/)

This is how I'm navigating to URL: Navigate.to(www.urlexample.com/#/)

I'm also taking pictures at every interaction.

However, when the tests are executed and the reported is generated, the screenshot is not presented at the report.

e.g.

![image](https://user-images.githubuserc

[2020-08-18 19:43] ralves20 opened #635 "[bug] - When scenario outline is on a feature which has more scenarios and uses background, it is not presented properly at the serenity report"
Hi

I'm using Serenity js 2.14 and I realized that when I have a feature file which has many scenarios and this feature uses background, the scenario is not generated correctly at the serenity report.
e.g.
scenario written in a feature with other scenarios and background:
![image](https://user-images.githubusercontent.com/40844089/90557654-38e04f80-e171-11ea-863d-79997a6d9e4a.png)

how this scenar

[2020-08-22 03:05] y3rsh opened #638 "Dynamic element locators"
Greetings, great documentation and project.  I am new and I am missing something.
I follow https://github.com/serenity-js/serenity-js/issues/564
BUT I want to use my Note as a string and I cannot figure out how.  To extend your example with the Vouchers.code, say I wanted to use that code in a `By.linkText(`
[code]
Is this possible?

[2020-08-24 11:54] jenisys opened #639 "docs: screenplay_pattern_model.png -- UML Diagram shows aggregation at wrong endpoint"
The UML diagram of the "Screenplay Pattern" (docs/images/screenplay_pattern_model.png) is used on many pages in the documentation (handbook, website).

PROBLEM:
The UML diagram of the "Screenplay Pattern" shows "caret" for the aggregation on the wrong side / endpoint of the relation.
The current diagram states via UML conventions:

* Ability contains / aggregates many Actor(s)
* Interaction(s) con

[2020-08-25 13:47] jan-molak commented on #639
Hi @jenisys and welcome to the Serenity/JS community!

Excellent catch, thanks! I'll push a fix shortly.

Best,
Jan

[2020-08-26 19:16] y3rsh commented on #638
Hello, I am still struggling with this issue.  I need data as a string carried from interaction to interaction. No matter what I have tried I cannot seem to get at the value of the promise to utilize as a string.  The Log Interaction prints the value... but I can't seem to write an interaction similar to Log to utilize the value.  Thank you 😊

[2020-08-26 22:06] jan-molak commented on #638
Hi @y3rsh and thanks for your kind words!

It's a bit tricky because `Text` is an asynchronous construct, a `Question` that an `Actor` needs to `answer()`, and Protractor's `by.linkText` locator requires a static `string`. I think Serenity/JS might require a couple of tweaks to handle your scenario out of the box.

There's hope, however!

Until there's a better way, I'd approach this problem with

[2020-08-26 22:23] y3rsh commented on #638
This helps a ton!  The big key I was missing was calling `actor.answer(`.
I actually created an interaction that calls a task with the string as a parameter.
Another day I will post my example here for others to see.

- [ ] @y3rsh add an example!

Thank you.

[2020-08-27 08:25] #639 closed

[2020-09-01 05:27] MJavedAli opened #648 "Serenity reports not getting generated."
I am using serenity cli-jar v2.1.10- serenity-js v2.2.2 - On failed scenarios I am getting the below errors.

E/launcher - Error: VError: a BeforeAll hook errored, process exiting: core-libraries\support\cucumber\cucumber.hooks.ts:20: timeout: Timed out receiving message from renderer: -0.002
17:16:21 (Session info: chrome=80.0.3987.132)
17:16:21 (Driver info: chromedriver=80.0.3987.106 (f68069574

[2020-09-03 21:21] jan-molak commented on #648
Hey @MJavedAli!

It looks like there's an issue in `core-libraries\support\cucumber\cucumber.hooks.ts` on line 20, which seems to be part of your project and not related to Serenity/JS...

What I'd suggest is to check what's going on in that file and also if the version of chromedriver you're using is in line with your Chrome version.

Looking forward to hearing from you!

Jan

[2020-09-03 21:24] jan-molak commented on #635
Hi @ralves20! Would you be able to create a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) based on the [Serenity/JS Cucumber Protractor template](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) and publish it to Github so that I can try to reproduce the issue you're seeing?

Thanks!
Jan

[2020-09-03 21:33] jan-molak commented on #634
Hi @rodrigo-costa-sofist! Would you be able to create a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) using one of the Serenity/JS template projects and publish it to github so that I can try to reproduce it locally?

Thanks!
Jan

[2020-09-04 02:30] MJavedAli commented on #648
Hi @jan-molak , I identified the issue, actually this error usually happens when for some reason I close the window tab in my scripts , the before all hook for taking screenshots in my cucumber.hooks.ts throws this error.

Currently I am able to handle this issue with some workaround, but is there any way to prevent this error due to failure of taking screenshots when window tab is closed.

[2020-09-10 15:07] Ijee commented on #603
So it's been  a year and I still have this problem.

The thing is that I know what you mean but I don't see myself writing multiple targets for selects. I just don't see why that is necessary. This way I'd  have to have a different target if I wanted to select a specific value / option text and another one if I wanted to check the currently selected value or am I missing something?

I got quite a

[2020-09-18 12:54] MJavedAli commented on #532
I tried the first option - It took to screenshot , but was not appended in the html report -

![image](https://user-images.githubusercontent.com/30997178/93599561-f1e9b200-f9db-11ea-81d4-d5b4e387586d.png)

For the second workaround - i am not clear where to put these code ? or how where to call them . currently my after hooks looks like this -

![image](https://user-images.githubusercontent.com/30

[2020-09-18 13:06] MJavedAli opened #657 "Screenshots are not getting properly appended in the html reports"
When generating aggregate reports after running the same scenario twice  -> the failed screenshot of the latest run gets appended to all previous scenario in html report.

[2020-09-21 11:52] eyesopen opened #660 "Custom task message"
Hello,

I would like to request a way to define custom text of the Task. There was a similar request [here](https://github.com/serenity-js/serenity-js/issues/586), but it was only applied to Notes. Following same logic i would imagine following:

[code]

Or
[code]

[2020-09-28 08:10] AbhineetSharmax opened #663 "Negative test cases , Wait / Expect"
Hi @jan-molak,

Greetings,

Thank you for all the efforts for bringing 2.0. I am currently trying to migrate 1.0 version to 2.0, and have started working with the protractor-cucumber template . I have started to move my test scenarios to the latest serenity 2.0 and changing the imports and conditions where ever needed and its really easy thanks to you.

The question i had was in previous version,

[2020-09-29 04:51] #626 closed

[2020-09-29 04:51] #319 closed

[2020-09-29 04:52] AbhineetSharmax commented on #319
Yes, Thank for the help @jan-molak @marktigno 😃

[2020-10-02 12:33] jan-molak commented on #663
Hi @AbhineetSharmax!

All you need to do is compose [`not`](https://serenity-js.org/modules/assertions/function/index.html#static-function-not) and [`isVisible`](https://serenity-js.org/modules/protractor/function/index.html#static-function-isVisible):

[code]

Let me know if this helps!

Best,
Jan

[2020-10-02 17:29] AbhineetSharmax commented on #663
Thank you @jan-molak i'll try it out Thanks again. 😊

[2020-10-05 06:31] #663 closed

[2020-10-05 09:47] #66 closed

[2020-10-05 09:47] #227 closed

[2020-10-05 09:47] #233 closed

[2020-10-05 09:47] #366 closed

[2020-10-07 08:01] AbhineetSharmax opened #677 "Error: Error: Tag name should have a property "length" that is greater than 0"
Hi @jan-molak greetings.

Thank you for always helping with the troubles.

I have a huge stack of feature files(around 120) and am currently undergoing with the 2.0 migration with template protractor-cucumber.

When i specify the feature in conf.js file like ['features/players/remote.feature'] and run, everything gets picked up fast
and works perfectly.

When i use it as ['features/**/*.feature]
a

[2020-10-07 08:56] jan-molak commented on #677
Hi @AbhineetSharmax! Could you please paste the entire stack trace, please? That exception is thrown by one of the implementations of the [`Tag`](https://github.com/serenity-js/serenity-js/blob/master/packages/core/src/model/tags/Tag.ts#L23) class, so it would be good to understand which one.

[2020-10-07 09:10] AbhineetSharmax commented on #677
Hi @jan-molak ,

Please find the trace.

14:33:09] E/launcher - Error: Error: Tag name should have a property "length" that is greater than 0

    at Object.ensure (D:\Demo\node_modules\tiny-types\src\ensure.ts:31:15)

    at new Tag (D:\Demo\node_modules\@serenity-js\core\src\model\tags\Tag.ts:23:9)

    at new IssueTag (D:\Demo\node_modules\@serenity-js\core\src\model\tags\IssueTag.ts:10:9)

[2020-10-07 09:44] jan-molak commented on #677
Ah OK, that's very helpful, thanks.

In Serenity/JS, `@issue:<issue_id>` and `@issues:<id1>,<id2>` have special meaning and are used to identify tickets in your issue tracker (such as JIRA). The error is thrown because the parser expects that the tag always follows a pattern of `@issue` or `@issues` followed by issue id (see the [specs](https://github.com/serenity-js/serenity-js/blob/005a4025ca3b5

[2020-10-07 09:54] AbhineetSharmax commented on #677
and that was super thank you so much @jan-molak you are a saviour , i was unaware about about the @issue tag conventions. Now its not throwing me this error and running the scenarios perfectly. Hope it helps to others too. 😊

[2020-10-07 09:54] #677 closed

[2020-10-07 10:30] jan-molak commented on #660
Hi @eyesopen!

To give an interaction more meaningful, domain-specific name you can wrap it in a task:
[code]

And if you're after masking the password so that it doesn't appear in the logs and reports you could go with a custom question along those lines:

[code]

and then:

[code]

Does this help?

Jan

[2020-10-07 10:33] jan-molak commented on #657
Hi @MJavedAli! HTML reports are produced by Serenity BDD, which relies on `.json` files and `.png` screenshots that Serenity/JS generates in the output directory, such as `target/site/serenity`. If you don't clear that directory between the runs, Serenity BDD assumes that all its contents should be reported on.

Does this help?
Jan

[2020-10-07 11:30] eyesopen commented on #660
This is nice!
I originally solved it by writing custom Enter task (reimplementing it with desired message), but this seems like a better way.
The reason for this request where i run into unnecessary or too technical messages while implementing repeat task
[code]
Where EnsureRepeatNeeded does
[code]
It is called like this:
[code]
Which results in
[code]
this gives multiple "faulty" texts like:
- **

[2020-10-07 14:52] Nywlem opened #678 "Console reporter and Serenity-bdd report not showing the correct value executed using Scenario Outline Examples"
Hi Team,

I noticed an issue with the console reporter and serenity-bdd report when Examples are used in the feature file(s).

For example:

[code]

![image](https://user-images.githubusercontent.com/23047616/95346968-05e94b00-08da-11eb-8ba3-4dfecdc3a65c.png)

![image](https://user-images.githubusercontent.com/23047616/95347177-3d57f780-08da-11eb-870f-c3d8918fca28.png)

![image](https://user-image

[2020-10-14 04:58] AbhineetSharmax opened #679 "Issues with serenity BDD reporting"
Hi @jan-molak ,

Greetings!

I have successfully migrated our code from serenity 1.0 to 2.0 with ease, thanks to you again. 💯
There are few issues that i am facing and couldn't sort them out.

We have around 120 features files in our project, using protractor-cucumber with serenity-js version 2.0.16.

Issues with serenity reports:
1.
During our overnight runs, sometimes we are facing issues like f

[2020-10-14 10:31] Thimmaraju opened #680 "Error: Some of the async operations have failed: [Photographer:TakePhotosOfInteractions] Taking screenshot of 'User closes current browser window'..."
Close.currentWindow(), is considered action and trying to take screenshot for the same after action performed.
Once window is closed how can actor can take screenshot

[2020-10-19 09:59] benztest opened #683 "[cucumber-reporting] Java Errors When Running the Example"
If anyone could help with the following java error(s) I would greatly appreciate it.

I've tried several various fixes based on similar errors however these have not related to serenity-js and mostly relate to marven, Gradle, etc which I don't believe is related to this repo.

[code]

Many thanks for any assistance.
Ben

[2020-10-19 16:05] jan-molak commented on #683
Hey @benztest! You're right, it feels like an issue with the Serenity BDD CLI module, available at https://github.com/serenity-bdd/serenity-cli. Would you mind adding a ticket there so that it can be tracked and addressed? Thanks!

[2020-10-19 16:05] #683 closed

[2020-10-23 07:14] AbhineetSharmax opened #685 "Report generation warnings Timeout exception"
Hi @jan-molak ,

Greetings!

Thanks for all your hardwork, i am being working with 2.0 with protractor cucumber FW and with each step moving forward, exploring the new functions implemented(specially the one with java script executer implementation) and its really usable.

Also there are few stuff that are bothering us,
After the run gets completed, while generating report using
npm run test:repor

[2020-10-23 17:10] SJ1591 opened #686 "Change log detail page is not working on serenity-js official site"
I was going through the documentation of serenity-js where I encounter issue here https://serenity-js.org/changelog.html and I landed on 404 page when I tried to open any random changelog detail page
Example :
 https://serenity-js.org/CHANGELOG.html#2-13-1-2020-08-05-

![20201023_224012.jpg](https://user-images.githubusercontent.com/18211007/97033290-be70e900-1580-11eb-9ffd-340ea282f48a.jpg)

@jan

[2020-10-23 17:18] SJ1591 commented on #686
@jan-molak I think the url for changelog changes to uppercase when I click on any log details like this one
https://serenity-js.org/CHANGELOG.html#2-13-1-2020-08-05-

but I changed it lowercase and it seems to be working

https://serenity-js.org/changelog.html#2-13-1-2020-08-05-  seems to be working.

[2020-10-24 22:14] jan-molak commented on #686
Hey @SJ1591 - thanks for reporting this issue. Let me sort it out :-)

[2020-10-24 22:59] #680 closed

[2020-10-24 22:59] #686 closed

[2020-10-24 23:20] jan-molak commented on #678
Hi @Nywlem! I'm not able to reproduce this issue locally. Would you be able to publish a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) based on the [template](https://github.com/serenity-js/serenity-js-cucumber-protractor-template) to Github? It can have empty step defs.

Thanks!
Jan

[2020-10-24 23:22] jan-molak commented on #679
Hi @AbhineetSharmax - It's really hard to tell without being able to see the reports or your test suite... I've just published a new version of the `@serenity-js/serenity-bdd` module, though, so please update to 2.17.2 and let me know if the issue is still there?

[2020-10-24 23:25] jan-molak commented on #685
CC @wakaleo

[2020-10-24 23:27] jan-molak commented on #572
Introduced in Serenity/JS 2.14.0

[2020-10-24 23:27] #572 closed

[2020-10-24 23:53] jan-molak commented on #499
_Since the issue was raised, I've [created an example](https://github.com/serenity-js/serenity-js/blob/master/examples/protractor-cucumber/features/outlines.feature) demonstrating the usage of Cucumber scenario outlines with Protractor and Serenity/JS. Since the example describes a scenario very similar to the one presented by @lucieneven and gets reported correctly, I'm going to close this ticket

[2020-10-24 23:53] #499 closed

[2020-10-24 23:54] #339 closed

[2020-10-24 23:57] jan-molak commented on #294
This issue seems to be specific to Serenity BDD CLI - @AbhineetSharmax would you mind reporting it at https://github.com/serenity-bdd/serenity-cli/issues

Thanks!
Jan

[2020-10-24 23:57] #294 closed

[2020-10-25 00:04] jan-molak commented on #532
Hi @mtahat!

Serenity/JS [2.13.0](https://serenity-js.org/changelog.html#2-13-0-2020-07-25-) introduced support for handling modal dialog windows, so you can now say:

[code]

Also, changes introduced in [2.17.3](https://serenity-js.org/changelog.html#2-17-3-2020-10-25-) make the `Photographer` ignore the `UnexpectedAlertOpenError`, so it will ignore the alert and move on.

Hope this helps!
Jan

[2020-10-25 00:04] #532 closed

[2020-10-25 04:06] AbhineetSharmax commented on #679
Thanks alot @jan-molak , i will update to the latest version, might be using (2.0.16).
 : )

Best Regards,
Abhineet Sharma

[2020-10-25 04:06] #679 closed

[2020-10-25 04:09] AbhineetSharmax commented on #294
@jan-molak Thank you, i will raise it to serenity-cli.

[2020-10-27 23:28] #356 closed

[2020-10-27 23:31] jan-molak commented on #356
As of [2.17.4](https://serenity-js.org/changelog.html#2-17-4-2020-10-27-), `serenity-bdd update` supports both npm config as well as env variables. Please take it for a spin and let me know what you think @JoeChester @okey-right @habmukandu !

It turned out to be a bit more involved than I had hoped.

[2020-10-30 12:52] viper3400 opened #691 "Missing report in serenity-js-jasmine-protractor-template"
Hi

When using the serenity-js-jasmine-protractor-template I am not getting the SerenityBDD report. More specific, the result json is missing after test execution.

Steps to reproduce:
- Clone serenity-js-jasmine-protractor-template
- npm ci
- npm test

The json in ./target/site/serenity is not generated. The report itself is created but has no results.

The full-stack-acceptance-testing-demo work

[2020-10-31 14:27] #691 closed

[2020-10-31 14:33] jan-molak commented on #691
Well spotted, @viper3400, thanks for reporting the issue!
It looks like dependabot messed up `package-lock.json` when updating `@serenity-js/*` dependencies in template projects.

All the templates should be fine now, so please let me know if you notice anything out of order.

Thanks!
Jan

[2020-10-31 17:51] viper3400 commented on #691
Hi @jan-molak

Tried the serenity-js-jasmine-protractor-template. Json and report are now generated as expected.

Thanks for your quick support.
Jan

[2020-10-31 17:53] jan-molak commented on #691
Thanks for re-testing. And welcome to the Serenity/JS community ☺️

[2020-11-01 16:32] SJ1591 commented on #493
@jan-molak I would agree with either Cypress or WebdriverIO v6 but more preferably the later one.

**Reasons:**
I echo the points mentioned by @christian-bromann. Also, from Cypress point of view there is nothing wrong either but when we are thinking to develop fully baked framework then it ideally should work :
- Across browsers (not just chromium based)
- Flexibility to work on different types o

[2020-11-20 12:15] rakeshnambiar commented on #144
@jan-molak I have ended up with an issue when I get the `element not found` that breaks the further test execution. I have an exception handling at the method level but it seems this particular error is throwing at the framework level. Unfortunately, I didn't manage to upgrade to the latest version and the version details I am using is mentioned below.

[code]

[code]

[2020-11-20 17:12] jan-molak commented on #144
Hey @rakeshnambiar! I'm afraid I don't have the capacity to support version 1.x. Have you considered migrating the one test that's failing to V2 to see if the issue has been addressed?

[2020-11-20 17:19] rakeshnambiar commented on #144
@jan-molak  thanks for your reply. I can understand your limitation. I tried to migrate the script to the V2 but due to the screenshot issue I couldn't make the progress https://github.com/serenity-js/serenity-js/issues/362 When I wrote the scripts, I have used the PageObject model approach and not using the Actor. It's not practical to convert everything into the new format.

[2020-11-20 17:21] jan-molak commented on #144
Got it, have you considered [my comment](https://github.com/serenity-js/serenity-js/issues/362#issuecomment-604759617)?

[2020-11-20 17:23] rakeshnambiar commented on #144
I missed the alert when you commented but I noticed it today when I picked the ticket number. Let me give a try - Thanks a lot.

[2020-11-20 17:29] rakeshnambiar commented on #144
Btw do you have the latest V2 template? I will use that and move all the scripts.

[2020-11-20 17:31] rakeshnambiar commented on #144
I am also having difficulties to generates the report and it's working only on Java 8. Hopeing this also resolved in the V2.

[2020-11-20 17:43] jan-molak commented on #144
Sure - check out https://github.com/serenity-js/serenity-js-cucumber-protractor-template and let me know how it went.
Also, we have a [community chat](https://gitter.im/serenity-js/Lobby) now if you fancy joining?

[2020-11-21 14:49] rakeshnambiar commented on #144
@jan-molak thanks a lot. I am already there on the Gitter chat.  I just cloned the tempated and successfully run the sample test. However the report is not properly generated for me in Win10. Am I missing something?

![image](https://user-images.githubusercontent.com/20258636/99880030-c7e58380-2c08-11eb-9072-ca07bc9dce6e.png)

[2020-11-21 14:54] jan-molak commented on #144
There are two stages to the reporting process - first, Serenity/JS generates json files with intermediary reports (under targer/site/serenity, then Serenity BDD CLI generates HTML based on that. If you get an empty HTML report it could be that the json files did not get generated correctly.

See if your protractor.conf.js correctly configures the Artifact Archive and SerenityBDDReporter services (

[2020-11-21 15:14] rakeshnambiar commented on #144
I can see `ArtifactArchiver.storingArtifactsAt('./target/site/serenity'),` in the protractor config file. However, the json file is not available on this path. I am using the project template without any modification to make-sure the settings are correct.

[2020-11-23 21:59] rakeshnambiar opened #698 "The SerenityJs framework is not picking the JS step deffenition"
The SerenityJs framework is not picking the JS step deffenition whereas on the same suite the TS step defnition available and that's working fine.

`Repo to reproduce the issue`
https://github.com/rakeshnambiar/serenitjs-v2-js

Please change the `baseUrl` and `cucumber tag` in order to run the ts demo script.

[2020-11-24 00:52] jan-molak commented on #698
Thanks for providing the sample repo! It looks like to me that the code mixes Cucumber 1 and Cucumber 6-style step definitions.

You'll notice that the [TypeScript version](https://github.com/rakeshnambiar/serenitjs-v2-js/blob/master/features/step_definitions/super_calculator.steps.ts#L4) uses:
[code]

while the [JavaScript version](https://github.com/rakeshnambiar/serenitjs-v2-js/blob/master/feat

[2020-11-24 00:52] #698 closed

[2020-11-24 09:56] rakeshnambiar commented on #698
Thanks, It's worked. I change the script to make it compatible to Cucumber 6 as you recommended.

[2020-11-24 10:21] rakeshnambiar commented on #698
@jan-molak Unfortunately the HTML report is not generated fully and I can see the below-mentioned error.

[code]

[2020-11-24 17:41] rakeshnambiar commented on #698
Same suite I had executed on a docker with `/usr/lib/jvm/java-8-openjdk-amd64` and it's successfully. However, I can't see any scenario level details or screenshot (I can't see the screenshots on the path). Seems it's again the screenshot issue mentioned on https://github.com/serenity-js/serenity-js/issues/362

[2020-11-24 22:03] rakeshnambiar commented on #362
@jan-molak I tried the solution which you had mentioned above. However, I am ended up with the below error.

[code]

//step.js
[code]

`imports`
[code]

[2020-11-24 22:16] jan-molak commented on #480
Closing this ticket as Serenity/JS supports Mocha now, both with Protractor and standalone - https://serenity-js.org/modules/mocha/

[2020-11-24 22:16] #480 closed

[2020-11-24 22:20] jan-molak commented on #513
Closing as we have separate tickets to track those requests:
- see #362 for reporting for non-screenplay scenarios
- see #524 for better support of Windows terminals

[2020-11-24 22:20] #513 closed

[2020-11-24 22:23] jan-molak commented on #362
@rakeshnambiar this is an issue with the test setup. What this error message is telling us is that Node.js tried to load a TypeScript file from a JavaScript file. If you look closely at the last line from your example, you'll see:
[code]
Maybe your IDE auto-imported from a wrong place?

[2020-11-24 22:24] jan-molak commented on #490
@DilipKumar1412 I haven't heard from you in a while so I'm going to close this ticket as support for screenshots in non-screenplay scenarios is tracked under #362

[2020-11-24 22:24] #490 closed

[2020-11-24 22:28] jan-molak commented on #154
Hi @AG0819 I haven't heard from you in a while, so will assume that my last suggestion has helped. Please feel free to open another ticket or join [Serenity/JS Community Chat](https://gitter.im/serenity-js/Lobby) if you have further questions.

[2020-11-24 22:28] #154 closed

[2020-11-24 22:32] rakeshnambiar commented on #362
Sorry - that's my bad - yes the IntelliJ auto-suggsted it. I have failed a test to check the screenshot generation but still it didn't work.
Similarly how do I configure the screeenshot for both pass and fail? `scenario.result.status, equals('failed')`

[2020-11-25 20:31] rakeshnambiar commented on #362
In fact the scenario step also available on the report. The main issue is the screenshot which is currently displaying a white screen.

![image](https://user-images.githubusercontent.com/20258636/100278652-268a6480-2f5d-11eb-98b7-7ccdf31444f4.png)

[2020-11-26 12:16] rfreydi opened #700 "[How-to]: Ensure that target getComputedStyle ?"
Hi all,

I was wondering how could I be able to run getComputedStyle on a DOM element.

My test case is that I have a `DOM element` that have a `backgroundImage` on `:after` and I need to ensure that it will keep this particular background (for the moment I'm just trying to get my code checking that the backgroundImage property is present).

I tried to get access to the `cssValue` through ElementF

[2020-11-26 16:17] jan-molak commented on #700
Hi @rfreydi!

A more idiomatic way would be to do any computations in the `Question` rather than in the `Expectation`. I'd also suggest using the ability to `BrowseTheWeb` rather than relying on the global `browser` object.

I'd approach it this way:

[code]

You could then compose it like this:
[code]

Of course, if you don't care about what image is used for the background, and want to focus on

[2020-11-26 21:46] rakeshnambiar commented on #362
@jan-molak please could you help with this issue because this is a blocker for the script migration 😞

This issue can reproduce by using the sample project - https://github.com/rakeshnambiar/serenitjs-v2-js

[2020-11-26 23:11] jan-molak commented on #362
@rakeshnambiar - you're on the right track, you have the `Actors` but you haven't told Serenity/JS to [`engage`](https://serenity-js.org/modules/core/function/index.html#static-function-engage) them.

`Before(() => engage(new Actors()))`

[2020-11-27 13:17] rakeshnambiar commented on #362
thanks @jan-molak however the issue still exists.

the changes I made:

[code]

[2020-11-27 13:33] rfreydi commented on #700
Nice approach, it remove the need to handle myself isPresent, includes, equals...

Btw tried to implement it but got an infinite loop of Promise...

You can find a playground here: https://github.com/rfreydi/serenity-cumputed-style

[2020-11-28 16:30] shrirange opened #701 "Integration of Angular Material with Serenity-js"
Angular material harnesses has been written in protractor. Please check the link below.
https://material.angular.io/guide/using-component-harnesses
For automation testing of angular material related UI it is difficult to find the xpath and language support to say select drop down menus since their html elements are created dynamically as we select the drop down options. Also the the listeners are

[2020-11-28 17:25] vaibhavvp23 commented on #701
I too need this feature.

[2020-11-29 13:23] rakeshnambiar commented on #362
@jan-molak let me know in case you have any other thoughts and this is again a blocker for me to continue with the script migration 😢

[2020-11-29 13:26] jan-molak commented on #362
What's the error you're seeing with the latest version? Also, you won't need the Photographer - that service is used for Screenplay scenarios

[2020-11-29 13:37] rakeshnambiar commented on #362
@jan-molak thanks for your reply. Apart from the error message `Inspector ensures that 'failed' does equal 'failed'` that appear on the report, I can't see any specific error and the step failurd as the login wasn't successuly (I did it purposefully to check the screenshot). I just tried with the `Photographer` option in that case none of the screenshot is capturing. With the `photograpger` and `a

[2020-11-30 12:53] rakeshnambiar commented on #362
@abhinaba-ghosh @RaghuGouda @magdalenaBartkowiakJowsa Please let me know in case the screenshot feature working for you with the above mentioned work-around. I am using JavaScript and still struggling  😞

[2020-12-01 16:01] rakeshnambiar commented on #362
@jan-molak pls let me know in case you have any work-around. Thanks

[2020-12-01 16:23] jan-molak commented on #362
Hey @rakeshnambiar the error message displayed by a failed assertion can be adjusted using [`.desribedAs`](https://serenity-js.org/modules/core/class/src/screenplay/Question.ts~Question.html#instance-method-describedAs), for example:
[code]

One thing I did notice, however, is that the report suggests the step has timed out.
Some things to check:
- Is the frontend of your system built on Angular?

[2020-12-01 16:42] rakeshnambiar commented on #362
@jan-molak It's a react application and I already disable the Angular-sync

[code]

I can see the image is generated on the target/site/serenity folder, but without the `Photographer.whoWill(TakePhotosOfInteractions),` setup it is not embedded in the report for the steps that are `PASS` (same as attached). Regarding the error `Error: function timed out, ensure the promise resolves within 15000 mil

[2020-12-02 02:57] Soumya1910 commented on #701
It's really helpful feature.

[2020-12-02 04:34] Ayushk93 commented on #701
Our team also looking for same

[2020-12-02 06:38] ApurvaCK commented on #701
Having this feature in will be great help.

[2020-12-03 10:41] rakeshnambiar commented on #362
@jan-molak sorry for pushing you too much on this issue, please let me know in case of any work-around for this.

[2020-12-03 11:52] jan-molak commented on #362
@rakeshnambiar could you publish an example project demonstrating the issue on some public domain so I could try to reproduce? Also, please note that community support is provided on best effort basis and if you'd like your tickets to be resolved as a priority, please consider [sponsoring our work](https://github.com/sponsors/serenity-js).

[2020-12-03 12:05] rakeshnambiar commented on #362
@jan-molak I have pushed the latest changes to https://github.com/rakeshnambiar/serenitjs-v2-js.git  the application URL/domain is publicly accessible. Regarding the sponsoring option I have been thinking the same and discuss with my manager and come back to you. Once again thank you so much for your wonderful suport.

[2020-12-04 06:59] alexanderkranga opened #705 "Photographer: async operations have failed to complete within a 5s cue timeout"
Hi,

I have a test that I run on Saucelabs and I want to take screenshots of this test. Here is my protractor configuration where I configure it to take screenshots of all interactions:
[code]

When I run my test I get following issue:
[code]

Here is a very simple spec I created to reproduce this on https://serenity-js.org/ site:
[code]

As far as I can see, it fails to capture screenshots on `Wa

[2020-12-04 10:48] jan-molak commented on #362
@rakeshnambiar - thanks for the example; I can confirm that Serenity/JS itself works as expected.

The trouble is that the example project confuses JavaScript and TypeScript and [imports TS from JS](https://github.com/rakeshnambiar/serenitjs-v2-js/blob/3d83b3cbd35b080b322b8ad22af6e1cd22e3e717/script/src/features/step_definitions/submission.wizard.steps.js#L14-L15), which it shouldn't do. So this i

[2020-12-04 10:52] rakeshnambiar commented on #362
Thanks a lot @jan-molak I will try this and update you the results. I am sure that, this time it will defenitely works 😄

[2020-12-04 12:27] rakeshnambiar commented on #362
It still didn't like us 😢  I have committed the changes to the same repo https://github.com/rakeshnambiar/serenitjs-v2-js.git.

I can see the very first screenshot when I add the code:

[code]

`and`

[code]

[2020-12-04 13:09] jan-molak commented on #362
@rakeshnambiar - that repo has too many moving parts, which might prevent you from getting it to work.

Here's a couple of suggestions:
- if you're writing test scenarios in JavaScript, remove any TypeScript code and disable ts-node, you don't need it
- simplify, simplify, simplify. You'll need to simplify your tests to improve the signal to noise ratio. To prove that taking a screenshot works in

[2020-12-04 15:12] rfreydi commented on #700
Okey, I managed to make it work:
[code]
But I have an issue with getComputedStyle, it return an array where in Chrome browser it's a CSSStyleDeclaration which is returned...

![image](https://user-images.githubusercontent.com/21192766/101180058-64694600-364b-11eb-877f-303fb4176338.png)

![image](https://user-images.githubusercontent.com/21192766/101180112-734ff880-364b-11eb-92ab-5a28e8b608ed.png)

[2020-12-04 17:35] rakeshnambiar commented on #362
Just noticed even for the success test the `after` method throwing the below error:

Not sure which object is `undefined`  here.

`ConfigurationError`

[code]

[2020-12-05 14:37] viper3400 opened #706 "Problem accessing "external helpers""
Hi,

I would like to use serenity-js but I have to use some kind of external libraries of "helpers".

Following the instructions here https://serenity-js.org/handbook/design/interactions.html, I created an example based on the serenity-js-jamsmine-protracotr-template
1) the ./lib/ExternalLibrary.ts (the one I wan't to use)
2) the ./src/abilities/UseExternalLibrary.ts (as the ability to use the ext